
/* Sponsors & Partners */
.section__title--logos {
	margin: 0;
}
.section__title--support {
	font-size: 1.1em;
}
.section__list--sponsors {
	--gap: 2vw;

	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	align-content: center;
	padding: var(--gap) calc(var(--gap) * 3);
	margin: auto;
}
.section__list--sponsors-tera { --columns: 1; max-width: unset; }
.section__list--sponsors-giga { --columns: 1; max-width: 80%; }
.section__list--sponsors:nth-child(2):not(.section__list--sponsors-tera) { max-width: unset; } /* If there are no Tera, make giga the largest */
.section__list--sponsors-mega { --columns: 2; }
.section__list--sponsors-kilo { --columns: 3; }
.section__list--sponsors-mili { --columns: 4; }
@media(min-width: 544px) {
	.section__list--sponsors-tera { --columns: 1; max-width: 60%; }
	.section__list--sponsors-giga { --columns: 2; max-width: unset; }
	.section__list--sponsors-mega { --columns: 3; }
	.section__list--sponsors-kilo { --columns: 4; }
	.section__list--sponsors-mili { --columns: 5; }
	.section__list--sponsors { --gap: 1em; }
}

.section--sponsors {
	padding: 1em 0;
	max-width: 800px;
}
.sponsor {
	--scale: 1;

	transition: transform 0.1s ease-out;
	width: calc(calc(calc(100% / var(--columns)) - calc(var(--gap) * 2)) * var(--scale));
	display: block;
	margin: var(--gap);
}
.sponsor:hover {
	/* transform: scale( calc( calc( var(--size) + 25px) / var(--size) ) ); */
	transform: scale(1.1);
}
.sponsor__img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.sponsor--overflow {

}
/* .sponsor--tera { height: 12em; }
.sponsor--giga { height: 6em; }
.sponsor--mega { height: 3.5em; }
.sponsor--kilo { height: 2em; }
.sponsor--mili { height: 1.5em; }
.sponsor--partner { height: 4em; }
.partner--support { height: 3.5em; } */
/* scale = (height + 0.5em ) / height */

/* .sponsor--tera:hover { transform: scale(1.04167); }
.sponsor--giga:hover { transform: scale(1.08333); }
.sponsor--mega:hover { transform: scale(1.125); }
.sponsor--kilo:hover { transform: scale(1.25); }
.sponsor--partner:hover { transform: scale(1.125); }
.partner--support:hover { transform: scale(1.14286); } */

.section__list--partners {
	align-items: center;
	justify-content: center;
	padding: 0.5em;
}

.partner {
	height: 4em;
	margin: 0.5em;
	transition: transform 0.1s ease-out;
	max-width: 100%;
	display: block;
}
.partner__img {
	height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.partner:hover { transform: scale(1.125); }
