body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: $c-bg-light;
  color: $c-txt-light;
}
.section {
  min-height: 10rem;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
