body {
  background: $c-bg-dark;
  color: $c-txt-light;
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
}

.content__wrapper {
  max-width: 1000px;
  box-sizing: border-box;
  padding: 5rem 1rem;
  margin: 0 auto;
  text-align: center;
}

.section {
  overflow: hidden;
  background: $c-bg-dark;
}

.section__title {
  margin: 0 0 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card {
  padding: 1rem;
  background-color: $c-bg-light;
  border-radius: $border-radius-big;
  text-align: left;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

$btn-thickness: 0.5rem;

.classic-button {
  $btn-height: 0.75rem + 1rem + 0.75rem;

  position: relative;
  display: inline-block;
  height: $btn-height + $btn-thickness;
  color: $c-txt-light;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0;
  border: 0;
  background: none;
  appearance: none;
  cursor: pointer;

  &__text {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0.75rem 1.4rem 0.75rem 1.5rem;
    background-color: $c-primary;
    transition: transform 150ms $ease-bounce;
  }

  &:active &__text {
    transform: translateY($btn-thickness);
  }

  &::after {
    position: absolute;
    z-index: 0;
    background-color: #b14f50;
    content: '';
    inset: ($btn-height * 0.5 + $btn-thickness) 0 0 0;
  }
}

.classic-button-disabled {
  display: inline-block;
  padding: 0.75rem 1.4rem 0.75rem 1.5rem;
  border: solid 0.0625rem rgba(255, 255, 255, 0.2);
  border-bottom-width: $btn-thickness;
  background: rgba(255, 255, 255, 0.1);
  color: $c-txt-light;
  cursor: not-allowed;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  opacity: 0.6667;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  white-space: nowrap;
}
