body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: $c-bg-dark;
  color: $c-txt-light;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.25);
}
.content__wrapper {
  min-height: 30rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 5rem 1rem;
  box-sizing: border-box;
}
.section {
  background: $c-bg-dark;


  h2 {
    font-size: 2.5rem;
    margin: 0 0 3rem;
    text-transform: uppercase;
  }
}
