@use 'src/styles/variables' as *;

body {
  background-color: #f2ede6;
  color: $c-txt-dark;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  -webkit-tap-highlight-color: rgb(255 255 255 / 25%);
}

.content__wrapper {
  max-width: 1000px;
  box-sizing: border-box;
  padding: 5rem 1rem;
  margin: 0 auto;
  text-align: center;
}

.section {
  overflow: hidden;
  background: url('/src/assets/images/trencadis/very-light.svg') #f2ede6 center /
    640px repeat;
}

.section__title {
  margin: 0 0 3rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.card {
  padding: 1rem;
  border-radius: $border-radius-big;
  // border-radius: 20px;
  // background: url('/src/assets/images/trencadis/very-light.svg') #fbf8f4 center / 640px repeat;
  // border: solid 20px #eae2d6;
  // border-image: url('/src/assets/images/borders/basic.svg') 20 repeat;
  color: $c-txt-dark;
  text-align: left;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

$btn-thickness: 0.5rem;

.classic-button {
  $btn-height: 0.75rem + 1rem + 0.75rem;

  position: relative;
  display: inline-block;
  height: $btn-height + $btn-thickness;
  padding: 0;
  border: 0;
  appearance: none;
  background: none;
  color: $c-txt-light;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &__text {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0.75rem 1.4rem 0.75rem 1.5rem;
    background-color: $c-primary;
    transition: transform 150ms $ease-bounce;
  }

  &:active &__text {
    transform: translateY($btn-thickness);
  }

  &::after {
    position: absolute;
    z-index: 0;
    background-color: #b14f50;
    content: '';
    inset: ($btn-height * 0.5 + $btn-thickness) 0 0 0;
  }
}

.classic-button-disabled {
  display: inline-block;
  padding: 0.75rem 1.4rem 0.75rem 1.5rem;
  border: solid 0.0625rem rgb(255 255 255 / 20%);
  border-bottom-width: $btn-thickness;
  background: rgb(255 255 255 / 10%);
  color: $c-txt-light;
  cursor: not-allowed;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  opacity: 0.6667;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-transform: uppercase;
  white-space: nowrap;
}

.buttons-mentor-volunteer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &--button-space {
    margin-top: 0;
    margin-left: 3rem;

    @media screen and (max-width: 600px) {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.centered div {
  align-items: center;
  justify-content: center;
  margin: 0 7.5%;
}
