.gdpr {
  position: fixed;
  z-index: 100;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0 auto;
  background-color: $c-gdpr-bg;
  border-radius: $border-radius-medium;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
  color: $c-gdpr-txt;
  transition: transform 400ms $ease-quad, opacity 400ms $ease-quad;

  // animation: gdpr-show 400ms $ease-bounce;
  // @keyframes gdpr-show {
  //   from {transform: translateY(100%); opacity: 0.5;}
  //   to   {transform: translateY(0%); opacity: 1;}
  // }

  @media (min-width: 640px) {
    right: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
    padding: 1rem;
  }

  &--hidden {
    display: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%);
  }

  &__emoji {
    margin-right: 0.5rem;
    cursor: default;
    font-size: 1.5rem;
    line-height: 1;
    transition: transform 250ms $ease-bounce;
    @media (min-width: 640px) {
      margin-right: 0.75rem;
    }

    &:hover {
      transform: rotate(90deg);
    }
  }

  &__text {
    flex: 1;
    margin: 0;
    font-size: 0.85rem;
    line-height: 1.5;
    @media (min-width: 640px) {
      font-size: 1rem;
    }
  }

  &__link {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.6667);
  }
  // &__disclaimer {
  //   margin-right: 0.5rem;
  // }
  &__button {
    flex-shrink: 0;
    padding: 0.5rem;
    border: 0;
    margin: -0.25rem -0.25rem -0.25rem 0;
    background-color: transparent;
    border-radius: $border-radius-small;
    color: $c-gdpr-txt;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: transparentize($c-gdpr-txt, 0.8);
      outline: none;
    }
  }

  &__close-icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    color: currentColor;
  }
}
