
/* Easter egg */
.easter-egg { display: none; }
.lenny-face { white-space: nowrap; }
.secret-link { color: inherit; text-decoration: inherit; }
/* TODO: add a rainbow glow */
/* .rainbow-glow { } */
