@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/400-italic.css";
@import "~@fontsource/montserrat/600.css";
@import "~@fontsource/montserrat/700.css";
@import "~@fontsource/montserrat/800.css";
@import "~@fontsource/montserrat/800-italic.css";
