
/* Footer section */
.section--footer {
	max-width: none;
	position: relative;
	color: var(--text-light);
	padding-bottom: 1.5em;
	padding-top: calc(128px + 1em);
	overflow: hidden;
 }
.footer__link {
	color: var(--secondary);
	text-decoration: none;
 }
.footer__img {
	height: 350px;
 }
.no-overflow--footer::before {
	content: '';
	position: absolute;
	top: 350px; bottom: 0; left: 0; right: 0;
	background-color: #5C5242;
	z-index: -1;
 }
.no-overflow--footer {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	display: flex;
	justify-content: center;
	z-index: -1;
 }

.footer__element  { margin: 1em auto;  }
.footer__element--first { margin-top: 0;  }
.footer__element--last { margin-bottom: 0;  }

.footer_column {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: -0.5em auto;
 }
.footer_column__element { margin: 0.5em;  }

/* Legal */
.section__list--links-list {
	max-width: 500px;
	flex-wrap: nowrap;
	align-items: center;
 }
.section__list--packed {
	max-width: 350px;
	flex-grow: 1;
 }
@media(max-width: 25em) {
	.section__list--packed { font-size: 4vw;  }
 }
.links-list {
	text-decoration: none;
	line-height: 1;
	vertical-align: middle;
 }
.links-list__separator {
	opacity: 0.5;
 }

/* Last year & Signature */
.last-year-site {
	display: inline-block;
 }

/* Contact */
.section__list--contact {
	justify-content: center;
	flex-wrap: nowrap;
	max-width: 17.5em;
	flex-basis: 17.5em;
 }
.contact {
	transition: transform 100ms ease-out;
	flex: 1;
 }
.contact__link {
	width: 100%;
	display: block;
	line-height: 1;
 }
.contact__icon {
	width: 1.5em;
	min-width: 20px;
	margin: auto;
 }
.contact:hover {
	transform: scale(1.25);
 }
