html{scroll-behavior:smooth}
a {
  color: $c-primary;
}

::selection {
  background-color: transparentize($c-primary, 0.01);
  color: $c-txt-light;
}
img::selection{
  background-color: transparentize($c-primary, 0.5);
}

p {
  line-height: 1.6667;
}
dd {
  margin-left: 0;
}

:focus:not(:focus-visible) {
  outline: none;
}
:focus-visible {
  outline: solid 0.25rem currentColor;
}
