html{scroll-behavior:smooth}
a {
  color: $c-primary;
}

::selection {
  background-color: transparentize($c-primary, 0.01);
  color: $c-txt-light;
}
img::selection{
  background-color: transparentize($c-primary, 0.5);
}

p {
  line-height: 1.6667;
}

// Pollyfill for :focus-visible
// Disable focus by default except if its triggered by keyboard
.js-focus-visible :focus:not(.focus-visible) {  
  outline: none;  
}
.js-focus-visible .focus-visible {  
  outline: solid 0.25rem currentColor;
}
