/* Variables */
:root {
	--primary-ligth: #e5f2ae;
	--primary: #b4c959;
	--primary-dark: #5f723f;
	--secondary-ligth: #fffae6;
	--secondary: #ffdd63;
	--secondary-dark: #e2bd34;
	--tertiary-ligth: #f5b49e;
	--tertiary: #e87a54;
	--tertiary-dark: #9e5235;
	--dark: #222;
	--gray-dark: #545355;
	/* --gray-dark: #39383a; */
	--gray-light: #aaa;
	--light: #eee;
	--text-dark: #111;
	--text-light: #fff;
	--tap: rgba(180, 201, 89, 0.4);

	/*
	--dark: #595959;
	--gray-dark: #b3b3b3;
	--gray-light: #f4f4f4;
	--light: #fff;
	*/

	/* Test Colors */
	/*
	--primary: #79d68d;
	--primary-dark: #55875f;
	--secondary: #fd9254;
	--secondary-dark: #97532b;
	--tertiary: #9389e2;
	--tertiary-dark: #735c99;
	*/

	--ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
	--font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
