$c-bg-dark: #1f143a;
$c-bg-light: #34256b;
$c-bg-lighter: #9287c6;
$c-primary: #ec6162;
$c-txt-dark: #000;
$c-txt-light: #fff;

$c-faq-0: #291B54;
$c-faq-1: #34256B;
$c-faq-2: #48308C;

$c-during-1: #45318f;

$ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$ease-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-quad-in: cubic-bezier(0.55, 0.09, 0.68, 0.53);
$ease-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);

$border-radius-big: 1rem;
$border-radius-medium: 0.75rem;
$border-radius-small: 0.5rem;