$c-palette-blue: #3f5182;
$c-palette-black: #181c19;

$c-bg-dark: $c-palette-black;
$c-bg-light: $c-palette-blue;
$c-bg-lighter: #4b62a3;
$c-primary: #ec6162;
$c-txt-dark: #000;
$c-txt-light: #fff;

$c-hero-shadow: hsla(287, 100%, 50%, 0.66);

$c-faq-0: #1d2222;
$c-faq-1: #2e354b;
$c-faq-2: #3f5182;
$c-faq-hover: linear-gradient(135deg, #2f50aa, #395ea3);

$c-during-border: $c-palette-blue;
$c-during-bg: #1d2222;
$c-during-bg-card: $c-palette-blue;

$c-sponsors-bg: #f1f5ff;

$c-gdpr-bg: $c-palette-blue;
$c-gdpr-txt: $c-txt-light;

$ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$ease-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-quad-in: cubic-bezier(0.55, 0.09, 0.68, 0.53);
$ease-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);

$border-radius-big: 1rem;
$border-radius-medium: 0.75rem;
$border-radius-small: 0.5rem;
