
.bg{display: none;}

@media (min-width: 475px){
	.bg{
		display: block;
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
		background-color: var(--legal-bg-color);
		background-image: var(--legal-bg-image);
		background-size: cover;
	}
	.bg__img{
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}
	.bg__img--left{right: unset;}
	.bg__img--right{left: unset;}
	.bg__img--top{bottom: unset;}
}