h1 {
	text-align: center;
	margin: 0 auto 1em;
	/* border-bottom: solid; */
	display: block;
	font-size: 2.25em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	border-bottom: solid;
	padding-bottom: 0.5em;
 }
h2 { font-size: 1.25em; }
h3 { margin: 2em 0 1em; }
li { display: list-item; list-style: disc; }
ul,ol {
	margin: 1em 0;
	padding-left: 2em;
	list-style: disc;
	overflow: auto;
 }
p { overflow: auto; }
table { border-collapse: collapse; }
.table-wrapper {
	overflow: auto;
	max-width: 100%;
	margin: 1em 0;
 }
.paper {
	background-color:white;
	box-sizing: border-box;
	max-width: 1000px;
	width: 100%;
	margin: 0;
	padding: 2em;
 }
@media (min-width: 475px) {
	.paper {
		width: calc(100% - 15vw);
		margin: 7.5vw auto;
		padding: 3em;
		border-radius: 3px;
		box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.6);
	 }
 }