.section--about-us {
  background-color: $c-during-bg;
}

.about-us__subtitle {
  margin: 3rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}
@media only screen and (max-width: 27.5rem) {
  .section--about-us .section__title {
    font-size: calc(1rem + 4vw);
  }

  .about-us__subtitle {
    font-size: 1.125rem;
  }
}

.about-us__layout {
  display: grid;
  margin-top: 2rem;
  gap: 2rem;
  grid-template: auto / auto auto;
  place-content: center;
  place-items: center;

  > img,
  > svg {
    width: 15rem;
  }
}
@media only screen and (max-width: 15rem * 2 + 2rem + 4rem) {
  .about-us__layout {
    grid-template: auto auto / auto;
  }
}

.card--about-us {
  padding: 2rem;
  background-color: $c-during-bg-card;
}
