@use 'sass:list';
@use 'src/styles/variables' as *;

.section--during-the-event {
  border-bottom: 0;
  background: url('/src/assets/images/trencadis/very-light.svg') #f2ede6 center /
    640px repeat;

  .section__title {
    margin-bottom: 1rem;
  }
}

.section--we-also-provide {
  border-bottom: 0;
  background: url('/src/assets/images/trencadis/beige.svg') #f2ede6 center /
    640px repeat;
  border-image: url('/src/assets/images/borders/basic.svg') 20 repeat;


  .section__title {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: solid 7px #fff;
    border-radius: $border-radius-big;
    background: url('/src/assets/images/trencadis/light.svg') #f2eee7 center /
      640px repeat;
  }
}

// Timeline
.timeline {
  $timeline-line-width: 0.25rem;
  $timeline-ball-width: $timeline-line-width * 3;
  $timeline-ball-border: $timeline-line-width * 2;
  $timeline-center-distance: 4rem;
  $timeline-left-distance: 5vw;
  $timeline-left-center-distance: $timeline-left-distance * 2;
  $timeline-item-height: 3rem;

  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    z-index: -1;
    left: calc(#{$timeline-left-distance} + #{$timeline-line-width * 0.5});
    width: $timeline-line-width;
    height: 100%;
    background-color: $c-during-border;
    content: '';
  }

  &::after {
    position: absolute;
    top: -$timeline-ball-width * 0.5 - $timeline-ball-border;
    left: calc(
      #{$timeline-left-distance} + #{$timeline-line-width} - #{$timeline-ball-width *
        0.5 + $timeline-ball-border}
    );
    width: $timeline-ball-width;
    height: $timeline-ball-width;
    border: solid $c-during-bg $timeline-ball-border;
    border-radius: 100%;
    background-color: $c-during-border;
    content: '';
  }

  .timeline__aux {
    width: 100%;
    height: 1px;
    background-color: $c-during-bg;
  }

  .timeline__text {
    display: inline-block;
    padding: 0.5rem 0;
    margin: 2rem 0;
    background-color: $c-during-bg;
    font-size: 1.125rem;
    text-align: left;
  }

  @media screen and (min-width: 40rem) {
    &::before {
      left: calc(50% - #{$timeline-line-width * 0.5});
    }

    &::after {
      content: none;
    }

    .timeline__text {
      text-align: center;
    }
  }

  .timeline__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 2rem 0;

    .timeline__item {
      position: relative;
      display: flex;
      height: $timeline-item-height;
      flex-flow: row;
      align-items: center;
      padding: $timeline-line-width;
      margin: 1rem;
      margin-right: 0;
      margin-left: calc(
        #{$timeline-left-distance + $timeline-left-center-distance} + #{$timeline-line-width}
      );
      background-color: $c-during-border;

      &::before {
        position: absolute;
        right: 100%;
        width: $timeline-left-center-distance;
        height: $timeline-line-width;
        background-color: $c-during-border;
        content: '';
      }

      &::after {
        position: absolute;
        right: calc(
          100% + #{$timeline-left-center-distance} - #{$timeline-ball-width * 0.5 +
            $timeline-ball-border}
        );
        width: $timeline-ball-width;
        height: $timeline-ball-width;
        border: solid $c-during-bg $timeline-ball-border;
        border-radius: 100%;
        background-color: $c-during-border;
        content: '';
      }

      @media screen and (min-width: 40rem) {
        margin: 0;
        margin-left: calc(50% + #{$timeline-center-distance});

        &::before {
          width: $timeline-center-distance;
        }

        &::after {
          right: calc(
            100% + #{$timeline-center-distance} - #{$timeline-ball-width * 0.5 +
              $timeline-ball-border}
          );
        }

        &:nth-child(even) {
          flex-flow: row-reverse;
          align-self: flex-end;
          margin-right: calc(50% + 4rem);
          margin-left: 0;

          &::before {
            left: 100%;
            width: $timeline-center-distance;
          }

          &::after {
            left: calc(
              100% + #{$timeline-center-distance - $timeline-ball-width * 0.5 -
                $timeline-ball-border}
            );
          }
        }
      }

      > * {
        height: $timeline-item-height;
        box-sizing: border-box;
        background-color: $c-during-bg;
      }

      .timeline__icon {
        width: $timeline-item-height;
        padding: $timeline-line-width * 1.5;
        object-fit: contain;

        > * {
          height: 100%;
        }
      }

      .timeline__separator {
        width: $timeline-line-width;
        background-color: $c-during-border;
      }

      .timeline__label {
        padding: ($timeline-item-height * 0.5 - 0.5rem) 1rem;
        line-height: 1rem;
        white-space: nowrap;
      }
    }
  }

  .timeline__card {
    max-width: 45rem;
    box-sizing: border-box;
    padding: 1.75rem 2rem;
    border: solid $timeline-line-width $c-during-border;
    margin: 3.5rem auto 0;
    background-color: $c-during-bg;
    text-align: left;

    .timeline__card-title {
      margin: 0 0 1rem;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;

      > em {
        color: $c-primary;
        font: inherit;
        font-style: italic;
      }
    }

    .timeline__card-text {
      margin: 1rem 0;
      font-size: 1.125rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// We also provide... part

.facilities__main-title {
  margin: 4rem 0 1rem;
  font-size: 2rem;
  text-align: left;
}

.facilities__container {
  display: grid;
  gap: 0;
  grid-template: auto / repeat(4, 1fr);

  .facilities__item {
    padding: 1rem 1.25rem;
    border: solid 20px #eae2d6;
    border-radius: 20px;
    background: url('/src/assets/images/trencadis/very-light.svg') #fbf8f4
      center / 640px repeat;
    background-color: $c-during-bg-card;
    border-image: url('/src/assets/images/borders/basic.svg') 20 repeat;
    text-align: left;

    .facilities__title {
      margin: 0 0 0.75rem;
      font-size: 1.5rem;
    }

    .facilities__desc {
      margin: 0;
    }
  }
}

// media queries (mixed)

@media screen and (min-width: 50rem) {
  .facilities__item {
    &:nth-child(1) {
      border-width: 20px 0 20px 20px;
    }

    &:nth-child(2) {
      border-width: 20px 0 20px 20px;
    }

    &:nth-child(3) {
      border-width: 20px 0 20px 20px;
    }

    &:nth-child(4) {
      border-width: 20px;
    }
  }
}
@media screen and (max-width: 50rem) {
  .facilities__container {
    grid-template: list.slash(repeat(2, auto), repeat(2, 1fr));
  }

  .facilities__item {
    &:nth-child(1) {
      border-width: 20px 0 0 20px;
    }

    &:nth-child(2) {
      border-width: 20px 20px 0;
    }

    &:nth-child(3) {
      border-width: 20px 0 20px 20px;
    }

    &:nth-child(4) {
      border-width: 20px;
    }
  }

  .timeline__card-text {
    font-size: 1.0625rem;
  }
}

@media screen and (max-width: 34rem) {
  .facilities__container {
    grid-template: repeat(4, auto) / auto;
  }

  .facilities__item {
    &:nth-child(1) {
      border-width: 20px 20px 0;
    }

    &:nth-child(2) {
      border-width: 20px 20px 0;
    }

    &:nth-child(3) {
      border-width: 20px 20px 0;
    }

    &:nth-child(4) {
      border-width: 20px;
    }
  }

  .timeline__card-text {
    font-size: 1rem;
  }
}
