.section--faq {
  background-color: $c-bg-light;

  h2 > small {
    font-size: 1em;
    text-transform: lowercase;
  }
}

.faq {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;

  dd, dl {
    margin: 0;
  }
}

.faq__column {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
}

.faq__category {
  margin: 0.5rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: $border-radius-big;
  padding: 1rem;
}

.faq__category-title {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
  line-height: 0.8;
  text-transform: uppercase;
}

.faq__question {
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: $border-radius-small;
  padding: 1rem;
  padding-bottom: 0;
  text-align: left;
  transition: 
    padding-bottom 200ms $ease-quad,
    box-shadow 200ms $ease-bounce,
    background-color 0.5s $ease-quad;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3333);

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.3333);
  }
  &:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3333);
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.14);
    transition: 
    padding-bottom 200ms $ease-quad,
    box-shadow 200ms $ease-bounce,
    background-color 0s $ease-quad;
  }
}

$faq-arrow-angle: 40deg;
.faq__question-title {
  background: none;
  border: none;
  color: inherit;
  margin: -1rem;
  padding: 1rem 4rem 1rem 1rem;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1;
  text-align: inherit;
  width: calc(100% + 2rem);
  cursor: pointer;
  border-radius: $border-radius-small;
  position: relative;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &::before,
  &::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background-color: currentColor;
    height: 0.25rem;
    width: 1rem;
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  &::before{
    transform-origin: left center;
    transform: translate(-1rem, 75%) rotate(-$faq-arrow-angle);
  }
  &::after{
    transform-origin: right center;
    transform: translate(-1.85rem, 75%) rotate($faq-arrow-angle);
  }
}

.faq__question-answer {
  margin: 1rem 0 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 200ms $ease-quad;
}

.faq__question--expanded {
  padding-bottom: 1rem;

  .faq__question-title {
    &::before{
      transform: translate(-1rem, -125%) rotate($faq-arrow-angle);
    }
    &::after{
      transform: translate(-1.85rem, -125%) rotate(-$faq-arrow-angle);
    }
  }
}

.faq__others-title {
  text-align: center;
  margin: 5rem 0 1rem;
  font-size: 1.75rem;
}
.faq__others-answer {
  margin: 0;
  text-align: center;
}