/* Footer section */
.section--footer {
  background: $c-bg-dark;
	color: #fff;
	padding:  2rem 0.5rem 1.5rem 0.5rem;
  overflow: hidden;
  text-align: center;
}
.footer__link {
	color: $c-primary;
	text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}

.footer__element { margin: 1rem auto; }
.footer__element--first { margin-top: 0; }
.footer__element--last { margin-bottom: 0; }

.footer_column {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: -0.5rem auto;
}
.footer_column__element { margin: 0.5rem; }

/* Legal */
.section__list--links-list {
	max-width: 500px;
	flex-wrap: nowrap;
	align-items: center;
}
.section__list--packed {
	max-width: 350px;
	flex-grow: 1;
}
@media(max-width: 25rem) {
	.section__list--packed { font-size: 4vw; }
}
.links-list {
	text-decoration: none;
	line-height: 1;
	vertical-align: middle;
}
.links-list__separator {
	opacity: 0.5;
}

/* Contact */
.section__list--contact {
  display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	max-width: 17.5rem;
  flex-basis: 17.5rem;
  padding: 0;
}
.contact {
  display: block;
  margin: 0;
	transition: transform 100ms ease-out;
	flex: 1;
}
.contact__link {
	width: 100%;
	display: block;
	line-height: 1;
	color: #fff;
}
.contact__icon {
	width: 1.5rem;
	min-width: 20px;
	margin: auto;
}
.contact:hover {
	transform: scale(1.25);
}

.signature::before, 
.signature::after {
  content: '';
}