$table-width: 1000px;
$table-height: $table-width * 0.2;

$apply-depth: 40px;

.section--hero {
  --hero-height: 100vh;
  --screen-height: calc(0.8 * var(--hero-height));
  --screen-center-width: calc(var(--screen-height) * 3 / 2);
  --screen-gap: calc(var(--screen-height) / 30);

  $screen-depth: 900px; // 4.5 * $table-height
  $screen-y-pos: -150px; // -0.75 * $table-height
  $screen-angle: 22.5deg;

  // perspective: 100rem;
  background-color: $c-bg-dark;
  height: 900px;
  max-height: 100vh;
  max-width: unset;
  overflow: hidden;

  @media screen and (min-height: 900px) {
    --hero-height: 900px;
  }
  @media screen and (max-width: 600px) {
    --screen-height: calc(115vw);
  }

  .hero-3d-space {
    perspective: 1000px;
    box-sizing: border-box;
    position: relative;
    transform-style: flat;
    perspective-origin: 50% 25%;
    height: 100%;
    width: 100%;
    // pointer-events: none;
    will-change: perspective-origin;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: -30px;
    //   right: -30px;
    //   height: 30px;
    //   background-color: darken($c-bg-light, 8%);
    //   transform: rotateX(90deg);
    //   transform-origin: bottom center;
    // }

    & > * {
      position: absolute;
    }

    & *,
    & *::before,
    & *::after {
      transform-style: preserve-3d;
      display: block;
      backface-visibility: hidden;
    }
    & .subscreen *,
    & .subscreen *::before,
    & .subscreen *::after {
      transform-style: flat;
    }

    .clickable {
      pointer-events: all;
      cursor: pointer;
      user-select: none;
    }

    .selectable {
      pointer-events: all;
    }

    .subscreen,
    .table,
    .objects {
      background-color: $c-bg-light;
    }
    .screen {
      height: var(--screen-height);
      display: grid;
      gap: var(--screen-gap);

      img,
      svg {
        // TODO: remove
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
      }
    }
    .screen--left {
      grid-template-columns: 5fr 1fr;
      bottom: 0;
      right: calc(50% + var(--screen-center-width) / 2 + var(--screen-gap) / 2);
      width: calc(var(--screen-center-width) * 0.8);
      transform-origin: right center;
      transform: translate3d(0, $screen-y-pos, -$screen-depth)
        rotateY($screen-angle);
      margin-right: calc(var(--screen-gap) / 2);
    }
    .screen--center {
      bottom: 0;
      left: calc(50% - var(--screen-center-width) / 2);
      width: var(--screen-center-width);
      transform-origin: center center;
      transform: translate3d(0, $screen-y-pos, -$screen-depth);
    }
    .screen--right {
      grid-template: 2fr 5fr / 1fr 1fr;
      grid-template-areas:
        'top top'
        'left right';
      bottom: 0;
      left: calc(50% + var(--screen-center-width) / 2 + var(--screen-gap) / 2);
      width: calc(var(--screen-center-width) * 0.8);
      transform-origin: left center;
      transform: translate3d(0, $screen-y-pos, -$screen-depth)
        rotateY(-$screen-angle);
      margin-left: calc(var(--screen-gap) / 2);
    }

    @media screen and (max-height: 550px) {
      .screen--left {
        transform: translate3d(0, $screen-y-pos * 0.8, -$screen-depth)
          rotateY($screen-angle);
      }
      .screen--center {
        transform: translate3d(0, $screen-y-pos * 0.8, -$screen-depth);
      }
      .screen--right {
        transform: translate3d(0, $screen-y-pos * 0.8, -$screen-depth)
          rotateY(-$screen-angle);
      }
    }
    @media screen and (max-height: 450px) {
      .screen--left {
        transform: translate3d(0, $screen-y-pos * 0.75, -$screen-depth)
          rotateY($screen-angle);
      }
      .screen--center {
        transform: translate3d(0, $screen-y-pos * 0.75, -$screen-depth);
      }
      .screen--right {
        transform: translate3d(0, $screen-y-pos * 0.75, -$screen-depth)
          rotateY(-$screen-angle);
      }
    }
    @media screen and (max-height: 400px) {
      .screen--left {
        transform: translate3d(0, $screen-y-pos * 0.7, -$screen-depth)
          rotateY($screen-angle);
      }
      .screen--center {
        transform: translate3d(0, $screen-y-pos * 0.7, -$screen-depth);
      }
      .screen--right {
        transform: translate3d(0, $screen-y-pos * 0.7, -$screen-depth)
          rotateY(-$screen-angle);
      }
    }

    .subscreen::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: calc(var(--screen-gap) * 2);
      background-color: darken($c-bg-light, 8%);
      transform: rotateX(-90deg);
      transform-origin: top center;
    }

    .screen--left .subscreen::after,
    .screen--right .subscreen::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(var(--screen-gap) * 2);
      background-color: darken($c-bg-light, 8%);
    }
    .screen--left .subscreen::after {
      right: 100%;
      transform: rotateY(-90deg);
      transform-origin: right center;
    }
    .screen--right .subscreen::after {
      left: 100%;
      transform: rotateY(90deg);
      transform-origin: left center;
    }
    .subscreen {
      min-width: 0;
      min-height: 0;
    }
    .subscreen--map img {
      object-fit: cover;
    }
    .subscreen--timeline {
      grid-area: top;
    }
    .subscreen--rubberduck {
      grid-area: left;
    }
    .subscreen--plots {
      grid-area: right;
    }
    .table {
      width: $table-width;
      height: $table-height;
      transform-origin: bottom;
      left: calc(50% - #{$table-width / 2});
    }
    .table-front {
      bottom: 0;
      transform: translate3d(0, calc(-0.1 * var(--hero-height)), 0px)
        rotateX(90deg);
    }
    .table-back {
      bottom: 0;
      transform: translate3d(
          0,
          calc(-0.1 * var(--hero-height)),
          -$table-height * 2
        )
        rotateX(90deg);
    }
    .table-backface {
      background-color: transparent;
      pointer-events: none;
    }
    .table-backface::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 15px;
      background-color: darken($c-bg-light, 8%);
      transform: rotateX(-90deg);
      transform-origin: top center;
    }
    .table-backface::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $c-bg-light;
      transform: rotateX(-180deg) translateZ(15px);
    }

    // Apply Button ----------------------
    .apply-button {
      background-color: $c-primary;
      padding: 1rem 1.9rem 1rem 2rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: #fff;
      text-decoration: none;
      font-size: 1.25rem;
      line-height: 1;
      white-space: nowrap;
      position: relative;
      display: inline-block;
      transform: translate3d(
        calc(#{0.5 * $table-width} - 50%),
        0,
        -0.4 * $table-height + $apply-depth / 2
      );
      transform-origin: bottom center;
      transition: transform 150ms $ease-bounce;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      z-index: 1;
    }

    .apply-button::before {
      content: '';
      position: absolute;
      transform: rotateX(90deg);
      transform-origin: bottom center;
      bottom: 100%;
      left: 0;
      right: 0;
      height: $apply-depth;
      background-color: #b14f50;
    }
    .apply-button__side {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 100%;
      width: $apply-depth;
      background-color: #9c4749;
    }
    .apply-button__side--left {
      left: 100%;
      transform-origin: left center;
      transform: rotateY(90deg);
    }
    .apply-button__side--right {
      right: 100%;
      transform-origin: right center;
      transform: rotateY(-90deg);
    }
    .apply-button:active {
      transform: translate3d(
          calc(#{0.5 * $table-width} - 50%),
          0,
          -0.4 * $table-height + $apply-depth / 2
        )
        scale3d(1.2, 0.8, 1.2);
    }

    // Objects ----------------------
    .objects {
      width: $table-width;
      left: calc(50% - #{$table-width / 2});
      background-color: transparent;
      bottom: 0;
      right: 0;
      transform: translate3d(0, calc(-0.1 * var(--hero-height)), -80px);
      transform-origin: bottom center;
      text-rendering: optimizeLegibility;
      font-smoothing: subpixel-antialiased;

      & > * {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .objects-front {
      transform: translate3d(
        0,
        calc(-0.1 * var(--hero-height)),
        -0 * $table-height
      );
    }
    .objects-back {
      transform: translate3d(
        0,
        calc(-0.1 * var(--hero-height)),
        -2 * $table-height
      );
    }

    $rocketBaseTransform: translate3d(
      calc(#{0.62 * $table-width} - 50%),
      0%,
      -0.5 * $table-height
    );
    $glitchBaseTransform: translate3d(
      calc(#{0.5 * $table-width} - 50%),
      0%,
      -0.5 * $table-height
    );
    $duckBaseTransform: translate3d(
      calc(#{0.196 * $table-width} - 50%),
      0%,
      -0.55 * $table-height
    );
    //                         <width>                               <x-pos>                         <z-pos>
    .object--pc-cowsay {
      width: 15%;
      transform: translate3d(
        calc(#{0.2 * $table-width} - 50%),
        0%,
        -0.5 * $table-height
      );
      pointer-events: none;
    }
    .object--pc-design {
      width: 15%;
      transform: translate3d(
        calc(#{0.2 * $table-width} - 50%),
        0%,
        -0.5 * $table-height
      );
    }
    .object--pc-glitch {
      width: 15%;
      transform: $glitchBaseTransform;
    }
    .object--pc-thegame {
      width: 15%;
      transform: translate3d(
        calc(#{0.8 * $table-width} - 50%),
        0%,
        -0.5 * $table-height
      );
    }
    .object--pc-double {
      width: 29.5%;
      transform: translate3d(
        calc(#{0.8 * $table-width} - 50%),
        0%,
        -0.5 * $table-height
      );
    }
    .object--rubber-duck {
      width: 5%;
      transform: $duckBaseTransform;
      transform-origin: center center;
      transition: transform 200ms $ease-bounce;
    }
    .object--mug-left {
      width: 4%;
      transform: translate3d(
        calc(#{0.08 * $table-width} - 50%),
        0%,
        -0.43 * $table-height
      );
    }
    .object--lego {
      width: 5%;
      transform: translate3d(
        calc(#{0.32 * $table-width} - 50%),
        0%,
        -0.7 * $table-height
      );
    }
    .object--rocket {
      width: 3%;
      transform: $rocketBaseTransform;
    }
    .object--cactus {
      width: 6%;
      transform: translate3d(
        calc(#{0.65 * $table-width} - 50%),
        0%,
        -0.75 * $table-height
      );
    }
    .object--mug-right {
      width: 4%;
      transform: translate3d(
          calc(#{0.93 * $table-width} - 50%),
          0%,
          -0.73 * $table-height
        )
        scaleX(-1);
    }
    .object--lamp {
      width: 23%;
      transform: translate3d(
        calc(#{0.87 * $table-width} - 50%),
        0%,
        -0.25 * $table-height
      );
      transition: opacity 100ms $ease-quad;
    }
    .object--penholder {
      width: 4%;
      transform: translate3d(
        calc(#{0.32 * $table-width} - 50%),
        0%,
        -0.68 * $table-height
      );
    }
    .object--drink {
      width: 3.5%;
      transform: translate3d(
        calc(#{0.95 * $table-width} - 50%),
        0%,
        -0.22 * $table-height
      );
    }
    .object--pencil {
      width: 6%;
      transform: translate3d(
          calc(#{0.27 * $table-width} - 50%),
          0%,
          -0.35 * $table-height
        )
        rotateX(90deg) scaleX(-1) rotateZ(40deg) rotateX(-60deg);
      transform-origin: center bottom;
    }
    .object--paper-text {
      width: 7%;
      transform: translate3d(
          calc(#{0.1 * $table-width} - 50%),
          calc(50% - 1px),
          -0.4 * $table-height
        )
        rotateX(90deg) rotate(-3deg);
    }
    .object--paper-biene {
      width: 7%;
      transform: translate3d(
          calc(#{0.89 * $table-width} - 50%),
          calc(50% - 1px),
          -0.32 * $table-height
        )
        rotateX(90deg) rotate(4deg);
    }

    .object--pc-cowsay::before,
    .object--pc-design::before,
    .object--pc-glitch::before,
    .object--pc-thegame::before,
    .object--pc-double::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      background-color: #000;
      opacity: 0.25;
      border-radius: 100%;
      height: 0.15 * $table-height;
      transform: translate(-50%, calc(50% - 1px)) rotateX(90deg);
    }
    .object--pc-cowsay::before {
      background-color: #251b4d;
      opacity: 1;
    }

    .object--rubber-duck:hover {
      transform: translate3d(
          calc(#{0.192 * $table-width} - 50%),
          0%,
          -0.55 * $table-height
        )
        scale(1.5);
    }

    .duck-cliked {
      opacity: 0;
      animation: duck-up 1s $ease-bounce, duck-fade 300ms 700ms ease-out;
      transform: $duckBaseTransform translate3d(0, -$table-height, 0);

      .rubber-duck-img {
        animation: duck-spin 1300ms $ease-quad;
      }
    }

    @keyframes duck-up {
      0% {
        transform: $duckBaseTransform;
        opacity: 1;
      }
      100% {
        transform: $duckBaseTransform translate3d(0, -$table-height, 0);
        opacity: 1;
      }
    }
    @keyframes duck-spin {
      0% {
        transform: rotate(0deg) scale(1.5);
      }
      100% {
        transform: rotate(395deg) scale(0.5);
      }
    }
    @keyframes duck-fade {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }

    .sitting-silhouette {
      width: 0.15 * $table-width;
      left: 50%;
      bottom: 0;
      transform-origin: bottom;
      transform: translate3d(
        -50%,
        calc(-0.04 * var(--hero-height)),
        -$table-height * 1.5
      );
    }
    $silhoueteBasicTransform: translate3d(
      -50%,
      -0.5 * $screen-y-pos,
      calc(-1 * #{$screen-depth} * 0.666)
    );
    .silhouette {
      height: calc(var(--screen-center-width) * 0.46);
      left: 50%;
      bottom: 0;
      transform-origin: bottom;
      transform: $silhoueteBasicTransform;
    }

    $silhoueteLeftLeftBasicTransform: $silhoueteBasicTransform
      translate3d(calc(-0.85 * var(--screen-center-width)), 0, 0)
      rotateY($screen-angle);

    $silhoueteLeftRightBasicTransform: $silhoueteBasicTransform
      translate3d(calc(-0.65 * var(--screen-center-width)), 0, 0);

    @keyframes silhoueteLeftLeftTalk {
      0% {
        transform: $silhoueteLeftLeftBasicTransform;
      }

      #{2% * 0} {
        transform: $silhoueteLeftLeftBasicTransform;
      }
      #{2% * 1} {
        transform: $silhoueteLeftLeftBasicTransform
          translateY(calc(-0.0015 / 2 * var(--screen-center-width)))
          rotate(-0.1deg);
      }
      #{2% * 2} {
        transform: $silhoueteLeftLeftBasicTransform
          translateY(calc(0.0015 * var(--screen-center-width))) rotate(+0.1deg);
      }
      #{2% * 3} {
        transform: $silhoueteLeftLeftBasicTransform
          translateY(calc(-0.0015 * var(--screen-center-width))) rotate(-0.1deg);
      }
      #{2% * 4} {
        transform: $silhoueteLeftLeftBasicTransform
          translateY(calc(0.0015 * var(--screen-center-width))) rotate(+0.1deg);
      }
      #{2% * 5} {
        transform: $silhoueteLeftLeftBasicTransform
          translateY(calc(0.0015 / 2 * var(--screen-center-width)))
          rotate(+0.1deg);
      }
      #{2% * 5.5} {
        transform: $silhoueteLeftLeftBasicTransform;
      }

      #{50% + 12% * 2 + 2% * 0} {
        transform: $silhoueteLeftLeftBasicTransform;
      }
      #{50% + 12% * 2 + 2% * 1} {
        transform: $silhoueteLeftLeftBasicTransform
          translateX(calc(-0.0015 / 2 * var(--screen-center-width)))
          rotate(+0.4deg);
      }
      #{50% + 12% * 2 + 2% * 2} {
        transform: $silhoueteLeftLeftBasicTransform
          translateX(calc(0.0015 * var(--screen-center-width))) rotate(-0.4deg);
      }
      #{50% + 12% * 2 + 2% * 3} {
        transform: $silhoueteLeftLeftBasicTransform
          translateX(calc(-0.0015 * var(--screen-center-width))) rotate(+0.4deg);
      }
      #{50% + 12% * 2 + 2% * 4} {
        transform: $silhoueteLeftLeftBasicTransform
          translateX(calc(0.0015 * var(--screen-center-width))) rotate(-0.4deg);
      }
      #{50% + 12% * 2 + 2% * 5} {
        transform: $silhoueteLeftLeftBasicTransform
          translateX(calc(0.0015 / 2 * var(--screen-center-width)))
          rotate(-0.4deg);
      }
      #{50% + 12% * 2 + 2% * 5.5} {
        transform: $silhoueteLeftLeftBasicTransform;
      }

      100% {
        transform: $silhoueteLeftLeftBasicTransform;
      }
    }

    @keyframes silhoueteLeftRightTalk {
      0% {
        transform: $silhoueteLeftRightBasicTransform;
      }

      #{12% * 2 + 2% * 0} {
        transform: $silhoueteLeftRightBasicTransform;
      }
      #{12% * 2 + 2% * 1} {
        transform: $silhoueteLeftRightBasicTransform
          translateX(calc(0.0002 / 2 * var(--screen-center-width)))
          rotate(-0.3deg);
      }
      #{12% * 2 + 2% * 2} {
        transform: $silhoueteLeftRightBasicTransform
          translateX(calc(-0.0002 * var(--screen-center-width))) rotate(+0.3deg);
      }
      #{12% * 2 + 2% * 3} {
        transform: $silhoueteLeftRightBasicTransform
          translateX(calc(0.0002 * var(--screen-center-width))) rotate(-0.3deg);
      }
      #{12% * 2 + 2% * 4} {
        transform: $silhoueteLeftRightBasicTransform
          translateX(calc(-0.0002 * var(--screen-center-width))) rotate(+0.3deg);
      }
      #{12% * 2 + 2% * 5} {
        transform: $silhoueteLeftRightBasicTransform;
      }

      #{50% + 2% * 0} {
        transform: $silhoueteLeftRightBasicTransform;
      }
      #{50% + 2% * 1} {
        transform: $silhoueteLeftRightBasicTransform
          translateY(calc(-0.0015 / 2 * var(--screen-center-width)))
          rotate(-0.1deg);
      }
      #{50% + 2% * 2} {
        transform: $silhoueteLeftRightBasicTransform
          translateY(calc(0.0015 * var(--screen-center-width))) rotate(+0.1deg);
      }
      #{50% + 2% * 3} {
        transform: $silhoueteLeftRightBasicTransform
          translateY(calc(-0.0015 * var(--screen-center-width))) rotate(-0.1deg);
      }
      #{50% + 2% * 4} {
        transform: $silhoueteLeftRightBasicTransform
          translateY(calc(0.0015 * var(--screen-center-width))) rotate(+0.1deg);
      }
      #{50% + 2% * 5} {
        transform: $silhoueteLeftRightBasicTransform
          translateY(calc(0.0015 / 2 * var(--screen-center-width)))
          rotate(+0.1deg);
      }
      #{50% + 2% * 5.5} {
        transform: $silhoueteLeftRightBasicTransform;
      }

      100% {
        transform: $silhoueteLeftRightBasicTransform;
      }
    }

    .silhouette--left-left {
      height: calc(var(--screen-center-width) * 0.47);
      transform: $silhoueteLeftLeftBasicTransform;
      animation: silhoueteLeftLeftTalk 8s infinite linear;
    }
    .silhouette--left-right {
      transform: $silhoueteLeftRightBasicTransform;
      animation: silhoueteLeftRightTalk 8s infinite linear;
    }
    .silhouette--right {
      pointer-events: none;
      // height: calc(var(--screen-center-width) * 0.4);
      transform: $silhoueteBasicTransform
        translate3d(calc(0.81 * var(--screen-center-width)), 0, 0);
    }

    // Map screen ----------------------
    .map__pointer {
      $map-pointer-border-width: 2px;

      position: absolute;
      left: 25.5%;
      top: 27%;
      background-color: transparentize($color: $c-bg-dark, $amount: 0.15);
      padding: 0.5em 0.75em;
      border: solid currentColor $map-pointer-border-width;
      border-radius: 0.25em;
      line-height: 1;
      box-sizing: border-box;
      font-size: calc(0.03 * var(--screen-height));
      white-space: nowrap;
      color: currentColor;
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        top: calc(100% - 2px);
        right: calc(100% - 2px);
        height: $map-pointer-border-width;
        width: calc(0.1 * var(--screen-height));
        transform-origin: bottom right;
        transform: rotate(-45deg);
        background-color: currentColor;
      }

      &::after {
        content: '';
        position: absolute;
        top: calc(100% - 2px + 0.07 * var(--screen-height));
        right: calc(100% - 2px + 0.07 * var(--screen-height));
        height: calc(0.02 * var(--screen-height));
        width: calc(0.02 * var(--screen-height));
        box-sizing: border-box;
        border: solid currentColor $map-pointer-border-width;
      }
    }

    // Map screen ----------------------

    .subscreen--plots {
      --plot-icon-width: calc(0.08 * var(--screen-height));

      display: grid;
      grid-template: min-content 1fr 1fr / repeat(4, 1fr);
      grid-template-areas:
        'ico1 ico2 ico3 ico4'
        'bar1 bar2 bar3 bar4'
        'plot plot plot plot';
      padding: 1rem;
      gap: 1rem;
      place-items: center;
      place-content: center;

      .plot__ico {
        background-color: $c-bg-lighter;
        border-radius: 100%;
        padding: 10%;
        width: var(--plot-icon-width);
        height: var(--plot-icon-width);
        box-sizing: border-box;
      }

      .plot__bar {
        height: 100%;
        background-color: $c-bg-lighter;
        opacity: 0.6667;
        border-radius: 0.5rem;
        width: calc(0.8 * var(--plot-icon-width));

        .plot__bar-content {
          height: 100%;
          width: 150%;
          margin: 0 -25%;
          background-color: currentColor;
          transform: scaleY(0.5);
          transform-origin: bottom center;
          border-radius: inherit;
          opacity: 0.75;
          transition: transform 1s cubic-bezier(0, 0, 0.3333, 1);
          will-change: transform;
        }
        .plot__bar-content--1 {
          color: #964ac6;
        }
        .plot__bar-content--2 {
          color: #39a5b7;
        }
        .plot__bar-content--3 {
          color: #b4426f;
        }
        .plot__bar-content--4 {
          color: #522dc8;
        }
      }

      .plot__plot {
        grid-area: plot;
        color: $c-bg-lighter;
        border: solid 2px currentColor;
        border-top: transparent;
        border-right: transparent;
        width: 100%;
        height: 100%;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: calc(100% + 1px);
          width: calc(0.15 * var(--plot-icon-width));
          height: calc(0.15 * var(--plot-icon-width));
          border: solid 2px currentColor;
          border-left: none;
          border-bottom: none;
          transform-origin: top right;
          transform: rotate(45deg);
          box-sizing: border-box;
        }

        .plot__plot-lines {
          height: 100%;
          width: 100%;
          overflow: visible;

          .plot__plot-line {
            fill: none;
            stroke: currentColor;
            stroke-width: 3px;
            stroke-linejoin: round;
            stroke-linecap: round;
            transition: d 1s cubic-bezier(0, 0, 0.3333, 1);
            will-change: d;
          }
          .plot__plot-line--1 {
            color: #964ac6;
          }
          .plot__plot-line--2 {
            color: #39a5b7;
          }
          .plot__plot-line--3 {
            color: #b4426f;
          }
          .plot__plot-line--4 {
            color: #522dc8;
          }
        }
      }
    }

    // Rocket animation ----------------------

    $rocketLunchDuration: 4s;
    $rocketFlyDuration: 3s;
    $rocketHideDuration: 1s;
    $rocketAppearDuration: 1s;
    .object--rocket {
      will-change: transform, opacity;
      transform-origin: center bottom;
      animation: rocket-lunch $rocketLunchDuration $ease-quad-in,
        rocket-shake ($rocketLunchDuration / 100 * 2) $rocketLunchDuration
          linear infinite,
        rocket-hide $rocketHideDuration
          ($rocketFlyDuration + $rocketLunchDuration) linear,
        rocket-appear $rocketAppearDuration
          ($rocketHideDuration + $rocketFlyDuration + $rocketLunchDuration)
          cubic-bezier(0.44, 0.24, 0.21, 1.17);
    }
    .rocket-wrapper {
      will-change: transform;
      animation: rocket-fly $rocketFlyDuration $rocketLunchDuration
        cubic-bezier(0.32, 0.43, 0.86, -0.51);
    }
    .fire-img {
      position: absolute;
      top: 80%;
      transform-origin: center top;
      opacity: 0;
      animation: rocket-fire ($rocketLunchDuration / 100 * 2)
          $rocketLunchDuration $ease-quad-in infinite alternate-reverse,
        rocket-hide $rocketAppearDuration
          ($rocketHideDuration + $rocketFlyDuration + $rocketLunchDuration)
          linear;
    }

    .stop-animation {
      animation: none !important;
      cursor: pointer !important;

      & * {
        animation: none !important;
      }
    }

    @keyframes rocket-lunch {
      @for $i from 0 through 100 {
        #{$i}% {
          transform: $rocketBaseTransform
            translateX($i * 0.125% * if($i % 2 == 0, 1, -1));
        }
      }
    }

    @keyframes rocket-shake {
      from {
        transform: $rocketBaseTransform translateX(+12.5%);
      }
      to {
        transform: $rocketBaseTransform translateX(-12.5%);
      }
    }

    @keyframes rocket-fly {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-100vh);
      }
    }

    @keyframes rocket-fire {
      from {
        opacity: 1;
        transform: scale(0.75, 0.5);
      }
      to {
        opacity: 1;
        transform: scale(1, 1);
      }
    }

    @keyframes rocket-hide {
      from,
      to {
        opacity: 0;
      }
    }

    @keyframes rocket-appear {
      from {
        opacity: 0.6667;
        transform: $rocketBaseTransform scale(0);
      }
      to {
        opacity: 1;
        transform: $rocketBaseTransform scale(1);
      }
    }

    // Glitch animation -------------

    .object--pc-glitch-1 {
      animation: half-blink 250ms 50ms cubic-bezier(0.45, 0.05, 0.55, 0.95)
        infinite alternate-reverse;
      transform: $glitchBaseTransform;
      pointer-events: none;
    }
    .object--pc-glitch-2 {
      animation: half-blink 100ms cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite
        alternate-reverse;
      transform: $glitchBaseTransform scaleX(-1);
      pointer-events: none;
    }

    @keyframes half-blink {
      from {
        opacity: 0.25;
      }
      to {
        opacity: 0.75;
      }
    }

    // Cowsay animation ----------------
    .cowsay__overlay {
      position: absolute;
      top: 5.5%;
      left: 5%;
      right: 5%;
      bottom: 40%;
      background-color: #33323f;
      transform-origin: bottom center;
      transform: scaleY(0);

      $cowsay-time: 3000ms;
      $cowsay-delay: 2000ms;

      animation: wait-breakpoint-0 1 * $cowsay-time + $cowsay-delay,
        wait-breakpoint-1 1 * $cowsay-time 1 * $cowsay-time + $cowsay-delay,
        show-result-cmd-2 0.2 * $cowsay-time 2 * $cowsay-time + $cowsay-delay
          steps(8);

      $overlay-break-point-0: 0.92;
      $overlay-break-point-1: 0.82;
      $overlay-break-point-2: 0;

      @keyframes show-cmd-1 {
        0% {
          transform: scaleY($overlay-break-point-0);
        }
        100% {
          transform: scaleY($overlay-break-point-1);
        }
      }
      @keyframes show-result-cmd-2 {
        0% {
          transform: scaleY($overlay-break-point-1);
        }
        100% {
          transform: scaleY($overlay-break-point-2);
        }
      }
      @keyframes wait-breakpoint-0 {
        0%,
        100% {
          transform: scaleY($overlay-break-point-0);
        }
      }
      @keyframes wait-breakpoint-1 {
        0%,
        100% {
          transform: scaleY($overlay-break-point-1);
        }
      }

      .cowsay__overlay--cmd {
        position: absolute;
        bottom: 99%;
        left: 44%;
        right: 0;
        top: -11%;
        transform-origin: center right;
        background-color: #33323f;
        transform: scaleX(0);
        animation: display-line $cowsay-delay step-end,
          show-line $cowsay-time $cowsay-delay steps(16, end) 2;

        @keyframes display-line {
          0%,
          100% {
            transform: scaleX(1);
          }
        }
        @keyframes show-line {
          0% {
            transform: scaleX(1);
          }
          50% {
            transform: scaleX(1);
          }
          90% {
            transform: scaleX(0);
          }
          100% {
            transform: scaleX(0);
          }
        }
      }
    }

    // Mug ------------
    $mug-smoke-height: $table-width * 0.035;
    .object--mug {
    }
    .mug-smoke {
      mask-image: linear-gradient(
        to top,
        black,
        cubic-bezier(0.4, 0.8, 0.75, 1),
        transparent
      );
      position: absolute;
      bottom: $mug-smoke-height;
      height: $mug-smoke-height;
      left: 10%;
      right: 35%;
      overflow: hidden;

      & > * {
        opacity: 0.2;
        animation: smoke-up 3s infinite linear;
        will-change: translate;

        @keyframes smoke-up {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(-50%);
          }
        }
      }
    }

    // Title screen ----------------------
    .subscreen--title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: calc(var(--screen-center-width) / 11.5);
      text-transform: uppercase;
      line-height: 0.75;
      white-space: nowrap;

      .title__title {
        font-weight: 400;
        margin: 0;
        margin-left: -0.1em;
      }
      .title__title--bold {
        font-weight: 700;
        display: inline-block;
      }
      .title__more-info {
        font-weight: 600;
        font-size: 0.6667em;
        margin: 0;
        margin-top: 0.75em;
        display: flex;
        justify-content: space-between;
        width: 15.375em;

        .title__hackers {
        }
        .title__hours {
        }
      }
      .title__date {
        margin: 0;
        margin-top: 1em;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 0.1em;
        display: block;
      }
    }

    // Countdown screen ----------------------
    .countdown {
      --countdown-width: calc(var(--screen-center-width) * 0.8 / 8);
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      box-sizing: border-box;
      padding: calc(var(--screen-height) / 30) 0;

      .countdown__cell {
        .countdown__circle {
          background-color: $c-bg-dark;
          display: block;
          width: var(--countdown-width);
          height: var(--countdown-width);
          border-radius: 100%;
          margin: auto;
          position: relative;
        }
        .countdown__number {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size: calc(var(--countdown-width) / 2);
          font-weight: bold;
          will-change: contents;
          line-height: var(--countdown-width);
          text-align: center;
        }

        .countdown__label {
          font-size: calc(var(--countdown-width) / 5);
          font-weight: bold;
          text-align: center;
          margin: calc(var(--countdown-width) / 10) auto 0;
          white-space: nowrap;
          text-transform: uppercase;
          color: $c-bg-lighter;

          .countdown__label-plural {
            display: inline-block;
          }
        }
      }
    }

    // Wanted screen ----------------------

    .subscreen--rubberduck {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .wanted__duck {
        width: 47.5%;
        height: auto;
      }
      .wanted__sign {
        display: block;
        margin: 0.66em 0;
        font-size: calc(var(--screen-height) / 14);
        font-weight: 800;
        color: $c-bg-lighter;
      }
      .wanted__list {
        display: flex;
        background-color: #483a7b;
        border-radius: calc(var(--screen-height) / 25);
        padding: calc(var(--screen-height) / 90) calc(var(--screen-height) / 45);
        position: relative;

        .wanted__duck-silhouette {
          height: calc(var(--screen-height) / 18);
          width: auto;
          margin: calc(var(--screen-height) / 150);
          opacity: 0.4;
        }
        .wanted__duck-silhouette--missing {
          animation: soft-fade-in 2000ms cubic-bezier(0.67, 0, 0.33, 1) infinite
            alternate-reverse;
        }
        .wanted__tooltip {
          position: absolute;
          top: 100%;
          left: -10%;
          right: 10%;
          width: 120%;
          text-align: center;
          font-size: calc(var(--screen-height) / 30);
          white-space: nowrap;
          font-weight: bold;
          letter-spacing: 0.1em;
          color: $c-bg-lighter;
          text-transform: uppercase;
          display: block;
          transform: translateY(-100%) scale(1);
          padding: 0.6667em 0;
          opacity: 0;
          transition: transform 200ms ease-out, opacity 200ms ease-out;
        }
        &:hover .wanted__tooltip {
          transform: none;
          opacity: 1;
        }

        .wanted__duck-silhouette--found {
          animation: found-duck-scale-down 200ms $ease-quad,
            found-duck-fade-in 200ms cubic-bezier(0.55, 0.06, 0.68, 0.19);
          opacity: 0.4;
        }
      }
      @keyframes found-duck-scale-down {
        from {
          transform: translateZ(250px) scale(50);
        }
        to {
          transform: none;
        }
      }
      @keyframes found-duck-fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 0.4;
        }
      }
    }
    @keyframes soft-fade-in {
      from {
        opacity: 0.05;
      }
      to {
        opacity: 0.4;
      }
    }

    // Timeline screen ----------------------

    .timeline-screen {
      --timeline-unit: calc(0.0225 * var(--screen-height));
      --timeline-line-width: calc(0.5 * var(--timeline-unit));
      --timeline-ball-size: calc(3 * var(--timeline-line-width));

      position: relative;
      padding: 0 calc(2 * var(--timeline-unit)) 0 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      height: 100%;

      &::before {
        content: '';
        position: absolute;
        inset: calc(50% - (var(--timeline-line-width) / 2)) var(--timeline-unit);
        border-radius: var(--timeline-unit);
        background-color: $c-bg-lighter;
        opacity: 0.75;
      }

      .timeline-screen__item {
        position: relative;
        width: 0;
        flex-grow: 2;
        height: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .timeline-screen__label {
          background-color: $c-bg-lighter;
          border-radius: calc(8 * var(--timeline-unit));
          padding: calc(0.25 * var(--timeline-unit))
            calc(2 * var(--timeline-unit));
          display: inline-block;
          color: $c-bg-light;
          font-weight: 800;
          text-transform: uppercase;
          font-size: calc(1.5 * var(--timeline-unit));
          text-align: center;
          transition: background-color 150ms ease-out;
          margin: calc(1.75 * var(--timeline-unit)) 0;
          text-decoration: none;

          small {
            font-size: 0.75em;
          }

          &::after {
            content: '';
            height: var(--timeline-ball-size);
            width: var(--timeline-ball-size);
            flex-shrink: 0;
            background-color: $c-bg-lighter;
            border: calc(0.5 * var(--timeline-unit)) solid $c-bg-light;
            border-radius: 100%;
            position: absolute;
            bottom: calc(
              (var(--timeline-ball-size) * -0.5) - var(--timeline-line-width)
            );
            left: 50%;
            transform: translateX(-50%);
            transition: inherit;
          }

          &:hover {
            background-color: lighten($c-bg-lighter, 20%);
            &::after {
              background-color: lighten($c-bg-lighter, 20%);
            }
          }
        }

        &:nth-child(even) {
          margin-top: auto;
          flex-direction: column-reverse;

          .timeline-screen__label::after {
            bottom: unset;
            top: calc(
              (var(--timeline-ball-size) * -0.5) - var(--timeline-line-width)
            );
          }
        }

        &--half {
          flex-grow: 1;
        }
      }
    }
  }
}
