.section--hero {
  // perspective: 100rem;
  background-color: $c-bg-dark;
  // 4rem for the bottom gap
  // 3rem for the nav heigth
  // height: calc(100vh - 4rem - 3rem);
  // height: calc((var(--vh, 1vh) * 100) - 4rem - 3rem);
  height: 800px;
  perspective: 1000px;
  max-width: unset;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective-origin: 50% 25vh;

  .screen, .table, .objects {
    background-color: $c-bg-light;
    position: absolute;
  }
  .screen {
    height: 400px;
  }
  .screen--left {
    bottom: 0; 
    right: calc(50% - 300px); 
    width: 500px; 
    transform-origin: right center; 
    transform: translate3d(-600px,-250px,-600px) rotateY(30deg);
    margin-right: 25px;
  }
  .screen--center { 
    bottom: 0; 
    left: calc(50% - 300px); 
    width: 600px; 
    transform-origin: center center; 
    transform: translate3d(0,-250px,-600px); 
  }
  .screen--right  { bottom: 0; 
    left: calc(50% - 300px); 
    width: 500px; 
    transform-origin: left center; 
    transform: translate3d(600px,-250px,-600px) rotateY(-30deg);
    margin-left: 25px;
  }
  
  .table {
    width: 1000px;
    height: 200px;
    transform-origin: bottom;
    left: calc(50% - 500px);
  }
  .table-front { bottom: 100px; transform: translateZ(0px)   rotateX(90deg); }
  .table-back  { bottom: 100px; transform: translateZ(-300px) rotateX(90deg); }
  
  .objects {

  }
  .objects-front { width: 600px; }
  .objects-back  { width: 600px; }

  // img {
  //   position: absolute;
  //   width: 50rem;
  //   bottom: 0%;
  //   left: calc(50% - 25rem);
  //   transform-origin: bottom center;
  //   border-bottom: 100px solid transparent;
  //   transform: rotateX(80deg);
  // }

  // h1 {
  //   margin: 0;
  // }
}
