.live {
  &__dot {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin: 0 0.2em 0 -0.2em;
    animation: live 2.5s cubic-bezier(0.82, 0.23, 0.55, 0.95) infinite alternate;
    background: $c-primary;
    border-radius: 100%;
    vertical-align: 0.05em;

    @keyframes live {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.25;
      }
    }
  }

  &__description {
    margin: 0 0 2.5rem;
    font-size: 1.125rem;
    line-height: 2;
  }
}

.section--live {
  background: $c-live-bg;
}
