@use 'sass:math';

.section--sponsors {
  background-color: #f1ebf9;
  color: $c-bg-dark;
}

$sponsor-height: 8rem;

.sponsor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem - 0.5rem;
  padding-left: 0;
}
.sponsor__item {
  height: $sponsor-height;
  display: block;
  flex-basis: calc(100%/4 - 1rem);
  background-color: #fff;
  color: $c-bg-dark;
  font-size: $sponsor-height/8;
  border-radius: 1em;
  margin: 0.5rem;
  position: relative;
  box-shadow: 0 1rem 1rem -0.5rem transparentize($c-bg-lighter, 0.9);
  transition: transform 50ms $ease-quad, box-shadow 50ms $ease-quad;

  &::before, &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    opacity: 0;
  }
  &::before {
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(0.5rem);
    pointer-events: none;

    transition: opacity 400ms cubic-bezier(0.23, 0.96, 0.17, 1);;
  }
  &::after {
    content: 'Go to website';
    z-index: 2;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.03em;
    transition: opacity 300ms $ease-quad, transform 200ms $ease-quad;
    transform: translate(-50%, -50%) translateY(1em);
    top: 50%;
    left: 50%;
    width: 100%;
  }
  
  &:hover::before {
    opacity: 1;
  }
  &:hover::after {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
  }
  &:active {
    box-shadow: 0 1rem 1rem -0.5rem transparent;
    transform: scale(0.975) translateY(0.25rem);
  }
}
.sponsor__item_link {
  display: block;
  height: 100%;
}
.sponsor__item_logo {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  object-fit: contain;
}
.sponsor__item--unrevealed {
  user-select: none;
  cursor: help;

  &::after {
    content: 'Top secret';
    text-transform: uppercase;
    color: $c-bg-dark;
  }

  .sponsor__item_link {
    pointer-events: none;
  }
  .sponsor__item_logo {
    opacity: 0.5;
  }
}

$sponsor-height-tera: $sponsor-height;
$sponsor-height-giga: $sponsor-height * 0.85;
$sponsor-height-mega: $sponsor-height * 0.85 * 0.85;
$sponsor-height-kilo: $sponsor-height * 0.85 * 0.85 * 0.85;
$sponsor-height-mili: $sponsor-height * 0.85 * 0.85 * 0.85 * 0.85;

.sponsor__list--tera {
  .sponsor__item {
    height: $sponsor-height-tera;
    font-size: $sponsor-height-tera/8;
    flex-basis: calc(100%/3 - 1rem);
  }
}
.sponsor__list--giga {
  .sponsor__item {
    height: $sponsor-height-giga;
    font-size: $sponsor-height-giga/8;
    flex-basis: calc(100%/4 - 1rem);
  }
}
.sponsor__list--mega {
  .sponsor__item {
    height: $sponsor-height-mega;
    font-size: $sponsor-height-mega/8;
    flex-basis: calc(100%/5 - 1rem);
  }
}
.sponsor__list--kilo {
  .sponsor__item {
    height: $sponsor-height-kilo;
    font-size: $sponsor-height-kilo/8;
    flex-basis: calc(100%/6 - 1rem);
  }
}
.sponsor__list--mili {
  .sponsor__item {
    height: $sponsor-height-mili;
    font-size: $sponsor-height-mili/8;
    flex-basis: calc(100%/7 - 1rem);
  }
}

// Custom logo positioning
.sponsor__item_logo--mckinsey {padding: 1.6rem 1rem;}
.sponsor__item_logo--google {padding: 1.7rem 1rem;}
.sponsor__item_logo--skyscanner {padding: 1.2rem 1rem;}
.sponsor__item_logo--facebook {padding: 2.4rem 1rem;}
.sponsor__item_logo--vueling {padding: 1.55rem 1rem;}
.sponsor__item_logo--github {padding: 1.4rem 1rem;}
