#hardware{
	.container{
		display:flex;
		justify-content:center;
		color:$textColor;
		flex-wrap:wrap;
		div{
			min-width:260px;
			padding:20px;
			h1{
				font-family:minecraftia;
				font-size:20px;
			}
			ul{
				padding:0;
				margin:-20px 0 0 10px;
				list-style:none;
				li{
					padding:2px 0;
				}
			}
			.mlh-hardware-lab{
				display: block;
				background-color: $mlhHardwareBtn;
				padding: 15px;
				color: white;
				font-weight: bold;
				border-radius: 5px;
				margin-top: 10px;
			}
		}
	}

}
