body{margin:0;}

/* Variables */
:root{
  --primary-ligth: #E5F2AE;
  --primary:       #B4C959;
  --primary-dark:  #5F723F;
  --secondary-ligth:#FFFAE6;
  --secondary:     #FFDD63;
  --secondary-dark:#E2BD34;
  --tertiary-ligth:#F5B49E;
  --tertiary:      #E87A54;
  --tertiary-dark: #9E5235;
  --dark:      #222;
  --gray-dark: #39383A;
  --gray-light:#AAA;
  --light:     #EEE;
  --text-dark: #111;
  --text-light:#FFF;

  --font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Custom element style */
*{font-family: var(--font-family) !important;}
a{color: var(--tertiary);}
::selection{background: var(--primary);color: var(--text-dark);}
strong{font-weight: 500;}
img{display: block;}