@import "shared/normalize.css";

@import "shared/reset.css";
@import "shared/variables.css";
@import "shared/custom.css";

@import "legal/variables.css";
@import "legal/background.css";
@import "legal/general.css";
