@import "bootstrap";

@font-face {
    font-family: GothamBoldRegular;
    src: url(../fonts/GothamBoldRegular.ttf);
}


$background-color: white;
$text-color: #494949;
$title-color: #E91753;
$link-color: #E91753;
$link-color-dark: darken($link-color, 25%);
$button-text-color: white;
$button-body-color: #E91753;
$button-highlight-color: #fff;
$button-bottom-color: darken($button-body-color, 25%);


body {
  background: $background-color;
  color: $text-color;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: bold;
}

a {
    color: $link-color;
    text-decoration: none !important;
    &:hover {
      color: $link-color-dark;
    }
}
#mlh-trust-badge:hover { background-color: transparent }

canvas {
    position: fixed;
    z-index: -20;
    top: 0px;
    left: 0px;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/reticula_bcn_web.png) fixed;
	background-size: 110%;
}

.intro {
    height: 100vh;
}

.head-logo img {
    @include center-block();
    width: 55%;
    margin-top: 20vh;
}

.top-buttons, .top-description {
  font-family: GothamBoldRegular;
}
.top-buttons, .bottom-buttons {
    >div {
        text-align: center;
    }
    .button-container {
        display: inline-block;
        a {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            &:first-child {
                margin-right: 15px;
            }
            &:hover {
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
            }
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $button-body-color;
            color: $button-text-color;
            width: 160px;
            padding: 15px 0px 10px;
            font-weight: 500;
            font-size: 1.4em;
            border: none;
            border-bottom: 10px solid $button-bottom-color;
            transition: all .2s linear;
        }
    }
}

.top-buttons .button-container {
    margin-top: 6vh;
    height: 100px;
}

.top-description p, .bottom-description p, .coming-soon p {
    @include center-block();
    color: $text-color;
    font-size: 1.3em;
    line-height: 1.9em;
    text-align: center;
}


.top-description h2 {
    @include center-block();
    color:  $text-color;
    text-align: center;
}

h1 {
    color: $title-color;
    margin-top: 10vh;
    font-size: 3.5em;
    margin-bottom: 5vh;
}

.button-container > h2 {
    color: white;
}

.faq-questions {
    .title {
        font-size: 1.6em;
        color: $title-color;
    }
    .answer {
        font-size: 1.4em;
        line-height: 2em;
        font-weight: normal;
    }
    .question {
        margin-bottom: 5vh;
    }
}

.sponsor-images {
    text-align: center;

    .giga {
        img {
            width: 50%
        }
        margin-bottom: 10vh;
    }
    .mega {
        img {
            width: 38%
        }
        margin-bottom: 8vh;
    }
    .kilo {
        img {
            width: 25%;
        }
        margin-bottom: 8vh;
    }
    .mili {
        img {
            width: 20%;
        }
        margin-bottom: 8vh;
    }
    .micro {
        img {
            width: 15%;
        }
    }

    img {
        &.mr {
            margin-right: 20px;
        }
        &.ml {
            margin-left: 20px;
        }
        &.mega-portrait {
            width: 15%;
        }
        &.giga-portrait {
            width: 18%;
        }
    }
    .separator {
        height: 5vh;
    }
}

@media(max-width: 600px) {
    .head-logo img {
        width: 85%;
    }
    .button-container a {
        display: block;
        margin-bottom: 10px;
        margin-right: 0!important;
    }
}

.partners {
    text-align: center;
    img {
        width: 12%;
        margin: 0px 20px;
    }
    margin-bottom: 10vh;

    .separator {
        height: 5vh;
    }
}

#promo-video {
    max-width: 700px;
    width: 100%;
    height: 400px;
}

.bottom-buttons {
    margin-top: 3vh;
}

.bottom-description {
    margin-top: 7vh;
}

.bottom-links, .spring-site {
    @include center-block();
    text-align: center;
    margin-top: 25vh;
    padding-bottom: 10vh;
    a {
        padding: 0.4em;
    }
}

// Bigger margin around columns so that in mobile
// text is not glued to screen border
.col-md-4 {
  padding-left: 20px;
  padding-right: 20px;
}
