@import "bootstrap";

@font-face {
    font-family: minecraftia;
    src: url(../fonts/minecraftia.ttf);
}

$blight: #EBA517;
$blightt: #ffab00;
$bdark: #CE481C;
$blink: #CE481C;
$bgray: #444;
$bwhite: #FFF6CD;

body {
  background: #fdf3e1;
  color: #949393;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: bold;
}

.head-logo img {
    @include center-block();
    width: 55%;
    margin-top: 20vh;
}

.top-buttons, .top-description {
  font-family: minecraftia;
}
.top-buttons, .bottom-buttons {
    >div {
        text-align: center;
    }
    .button-container {
        display: inline-block;
        a {
            &:first-child {
                margin-right: 15px;
            }
	    &:hover {
		background-color: $blink;
		border-bottom-width: 6px;
		position: relative;
		top: 4px;
	    }
            display: inline-block;
            text-decoration: none;
            background-color: $blight;
            color: $bwhite;
            width: 160px;
            padding: 15px 0px 10px;
            font-weight: 500;
            font-size: 1.4em;
            border: none;
            border-bottom: 10px solid $bdark;
        }
    }
}

.top-buttons .button-container {
    margin-top: 8vh;
}

.top-description p, .bottom-description p, .coming-soon p {
    @include center-block();
    color: $bdark;
    font-size: 1.3em;
    line-height: 1.9em;
    text-align: center;
}

.top-description p {
    margin-top: 10vh;
}

.coming-soon p {
    color: $bgray;
    font-size: 2.2em;
}

h1 {
    color: $blightt;
    margin-top: 10vh;
    font-size: 3.5em;
    margin-bottom: 5vh;
}

.faq-questions {
    &:not(:first-of-type) {
        margin-top: 10vh;
    }
    .title {
        font-size: 1.6em;
        color: $blightt;
    }
    .answer {
        font-size: 1.4em;
        line-height: 2em;
    }
    .question {
        margin-bottom: 5vh;
    }
    a {
        color: $blink;
        text-decoration: none;
    }
}

.sponsor-images {
    text-align: center;
    img {
        &.mr {
            margin-right: 20px;
        }
        &.ml {
            margin-left: 20px;
        }
        &.tera {
            width: 60%
        }
        &.giga {
            width: 38%
        }
        &.mega {
            width: 25%;
        }
        &.mili {
            width: 20%;
        }
    }
    .separator {
        height: 5vh;
    }
}

@media(max-width: 600px) {
    .head-logo img {
        width: 85%;
    }
    .button-container a {
        display: block;
        margin-bottom: 10px;
        margin-right: 0!important;
    }
}

.partners {
    text-align: center;
    .partner {
        width: 12%;
        margin: 0px 20px;
    }
    margin-bottom: 10vh;
}

#promo-video {
    max-width: 700px;
    width: 100%;
    height: 400px;
}

.bottom-buttons {
    margin-top: 3vh;
}

.bottom-description {
    margin-top: 7vh;
}

.bottom-links, .spring-site {
    @include center-block();
    text-align: center;
    margin-top: 25vh;
    padding-bottom: 10vh;
    a {
        color: $blight;
        text-decoration: none;
        padding: 0.4em;
    }
}

// Bigger margin around columns so that in mobile
// text is not glued to screen border
.col-md-4 {
  padding-left: 20px;
  padding-right: 20px;
}
