@import "bootstrap";

@font-face {
    font-family: minecraftia;
    src: url(../fonts/minecraftia.ttf);
}


$background-color: white;
$text-color: #b1b2c1;
$title-color: #03a9b5;
$link-color: #F44336;
$link-color-dark: #fc6f6f;
$button-text-color: white;
$button-body-color: #fc6f6f;
$button-highlight-color: #fc6f6f;
$button-bottom-color: #FF5252;


body {
  background: $background-color;
  color: $text-color;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: bold;
}

a {
    color: $link-color;
    text-decoration: none !important;
    &:hover {
      color: $link-color-dark;
    }
}
#mlh-trust-badge:hover { background-color: transparent }

canvas {
    position: fixed;
    z-index: -20;
    top: 0px;
    left: 0px;
}

.intro {
    height: 100vh;
}

.head-logo img {
    @include center-block();
    width: 55%;
    margin-top: 20vh;
}

.top-buttons, .top-description {
  font-family: minecraftia;
}
.top-buttons, .bottom-buttons {
    >div {
        text-align: center;
    }
    .button-container {
        display: inline-block;
        a {
            &:first-child {
                margin-right: 15px;
            }
      	    &:hover {
            		background-color: $button-highlight-color;
            		border-bottom-width: 6px;
            		position: relative;
            		top: 4px;
      	    }
            display: inline-block;
            text-decoration: none;
            background-color: $button-body-color;
            color: $button-text-color;
            width: 160px;
            padding: 15px 0px 10px;
            font-weight: 500;
            font-size: 1.4em;
            border: none;
            border-bottom: 10px solid $button-bottom-color;
        }
    }
}

.top-buttons .button-container {
    margin-top: 6vh;
    height: 100px;
}

.top-description p, .bottom-description p, .coming-soon p {
    @include center-block();
    color: $title-color;
    font-size: 1.3em;
    line-height: 1.9em;
    text-align: center;
}
.top-description p { color: $button-text-color}

.top-description p {
    margin-top: 10vh;
}

h1 {
    color: $title-color;
    margin-top: 10vh;
    font-size: 3.5em;
    margin-bottom: 5vh;
}

.faq-questions {
    .title {
        font-size: 1.6em;
        color: $title-color;
    }
    .answer {
        font-size: 1.4em;
        line-height: 2em;
        font-weight: normal;
    }
    .question {
        margin-bottom: 5vh;
    }
}

.sponsor-images {
    text-align: center;

    .tera {
        img {
            width: 70%
        }
        margin-bottom: 10vh;
    }
    .giga {
        img {
            width: 38%
        }
        margin-bottom: 8vh;
    }
    .mega {
        img {
            width: 25%;
        }
        margin-bottom: 8vh;
    }
    .kilo {
        img {
            width: 20%;
        }
        margin-bottom: 8vh;
    }
    .mili {
        img {
            width: 15%;
        }
    }

    img {
        &.mr {
            margin-right: 20px;
        }
        &.ml {
            margin-left: 20px;
        }
        &.mega-portrait {
            width: 15%;
        }
        &.giga-portrait {
            width: 18%;
        }
    }
    .separator {
        height: 5vh;
    }
}

@media(max-width: 600px) {
    .head-logo img {
        width: 85%;
    }
    .button-container a {
        display: block;
        margin-bottom: 10px;
        margin-right: 0!important;
    }
}

.partners {
    text-align: center;
    img {
        width: 12%;
        margin: 0px 20px;
    }
    margin-bottom: 10vh;

    .separator {
        height: 5vh;
    }
}

#promo-video {
    max-width: 700px;
    width: 100%;
    height: 400px;
}

.bottom-buttons {
    margin-top: 3vh;
}

.bottom-description {
    margin-top: 7vh;
}

.bottom-links, .spring-site {
    @include center-block();
    text-align: center;
    margin-top: 25vh;
    padding-bottom: 10vh;
    a {
        padding: 0.4em;
    }
}

// Bigger margin around columns so that in mobile
// text is not glued to screen border
.col-md-4 {
  padding-left: 20px;
  padding-right: 20px;
}
