@import "normalize.css";

/* Reset styles */
body,p{margin:0;}
button{font: inherit; outline: none; text-transform: inherit;}
ul,ol,li{margin:0;padding:0;list-style:none;display:block;}
q::before,q::after{content: none;}
q{display:block;}
abbr{text-decoration: none;}

/* Variables */
:root{
  --primary-ligth: #E5F2AE;
  --primary:       #B4C959;
  --primary-dark:  #5F723F;
  --secondary-ligth:#FFFAE6;
  --secondary:     #FFDD63;
  --secondary-dark:#E2BD34;
  --tertiary-ligth:#F5B49E;
  --tertiary:      #E87A54;
  --tertiary-dark: #9E5235;
  --dark:      #222;
  --gray-dark: #39383A;
  --gray-light:#AAA;
  --light:     #EEE;
  --text-dark: #111;
  --text-light:#FFF;

  /* 
  --dark:      #595959;
  --gray-dark: #B3B3B3;
  --gray-light:#F4F4F4;
  --light:     #FFF; 
  */

  /* Test Colors */
  /*
  --primary:       #79D68D;
  --primary-dark:  #55875F;
  --secondary:     #FD9254;
  --secondary-dark:#97532b;
  --tertiary:      #9389E2;
  --tertiary-dark: #735c99; 
  */

  --ease-bounce: cubic-bezier(0.18, 0.89, 0.32, 1.28);

  --font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Custom element style */
*{font-family: var(--font-family) !important;}
a{color: var(--tertiary);}
::selection{background: var(--primary);color: var(--text-dark);}
abbr{text-decoration: none !important;}
strong{font-weight: 500;}
img{display: block;}

/* General */
.body{
	background: #E7E7E7 url(/assets/img/wall.jpg) center 70vh;
	color: var(--text-dark);
}
.button{
  border: none;
  background: var(--primary);
  color: var(--text-light);
  padding: 0.625em 1.25em 0.625em;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 50ms ease-out;
  display: block;
  z-index: 0;
  margin:1em .5em 1.625em;
  -webkit-tap-highlight-color: none;
}
.button::before{
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: var(--primary-dark);
  transform: translateY(0.625em);
  z-index: -2;
  transition: inherit;
}
.button::after{
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  z-index: -1;
}
.button:hover{ transform: translateY(0.125em); }
.button:hover::before{ transform: translateY(0.5em); }
.button:active{ transform: translateY(0.625em); }
.button:active::before{ transform: translateY(0em); }
.section--dark{background: var(--dark); color: var(--text-light);}
@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* Hero */
.hero{
  height: 90vh;
  color: var(--text-light);
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  line-height: 1;
  overflow: hidden;
  box-sizing: border-box;
  padding: 48px 0;
  background-color: #a6ba86;
}
@media(min-width: 33.3333em){
  .hero{ font-size: 1em; }
  .button--hero{ font-size: 1.2em !important; }
}
.hero__title{
  font-size: 6em;
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}
.hero__title--dust{
	position: relative;
	color: #fff;
	background: #000;
	mix-blend-mode: screen;
}
.hero__title--dust::before{
	content: "";
	position: absolute;
	top:1px;right:1px;bottom:1px;left:1px;
	background: white url(/assets/img/multisize/1x/dust-20.jpg) center/512px;
	mix-blend-mode: multiply;
  pointer-events: none;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	.hero__title--dust::before{background-image: url(/assets/img/multisize/2x/dust@2x-20.jpg);}
	/* .body{background-image: url(/assets/img/multisize/2x/wall@2x.jpg);} */
}
@supports not (mix-blend-mode: multiply) {
  .hero__title--dust{
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    background: white url(/assets/img/multisize/1x/dust-20.jpg) center/512px;
  }
  .hero__title--dust::before{ content: none; }
}
.hero__title--bold{
  font-weight: 800;
}
.hero__letter--fall{
	display: inline-block;
	animation: letter-fall 1.5s cubic-bezier(1,0,.9,1.25) 2.5s, letter-fall-copy 2.5s steps(1);
	transform-origin: 37% 87%;
	transform: translateX(-5%) rotate(15deg);
	backface-visibility: hidden;
}
@keyframes letter-fall {
	0% {transform: translateX(-5%) rotate(0);}
	100% {transform: translateX(-5%) rotate(15deg);}
}
.hero__date{
  font-size: 2em;
  font-weight: 700;
  margin-top: 0.1em;
}
.hero__info{
  margin: 0.5em 0 1em;
  font-weight: 500;
  font-size: 1.3em;
  z-index: 0;
}
.hero__more-info{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.button--hero{
  font-size: 1.8em;
  margin: 0 0 .625em;
  z-index: 0;
}
/* Hero background */
.landscape{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

/* Hero buildings */
.buildings{
  width: 56em;
  height: 40em;
  margin-bottom: -21em;
  overflow: hidden;
  font-size: 1em;
  user-select: none;
  pointer-events: none;
  z-index: 0;
}
.buildings__img{
  width: 100%;
  margin-left: -1%;
  max-height: 100%;
  object-fit: contain;
}
@media(min-width: 42em){
	.buildings{ margin-bottom: -14em; font-size: 1.25em; height: 28em;}
  .buildings__img{ margin-left: 2%; }
}
.hero__layer--fog{
	bottom: 20%;
}

.hero__layer{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	pointer-events: none;
}
.hero__layer--sky{
	background: linear-gradient(to bottom, 
	#A6BA86 2.5%,
	#E3C677 20%,
	#000000 100%);
}
.hero__layer--depths{
	background: linear-gradient(to bottom, 
	#0000 40%,
	#000 80%);
}
.hero__layer--depths-small{
	top: 90%;
	background: linear-gradient(to bottom, 
	#0000 0%,
	#000 100%);
	z-index: 1;
}

/* Wall plants */


.hero__separator{
  overflow: hidden;
  height: 600px;
	margin: -300px 0;
	pointer-events: none;
	user-select: none;
}
.hero__separator__content{
  width: 100%;
  height: 0;
  margin-top: 300px;
  overflow: visible;
  position: relative;
}
.hero__separator__img{
	--wall-height: 150px;
	--wall-offset: -0.46666;

  position: absolute;
	right: 0; left: 0;
	bottom: calc(var(--wall-offset) * var(--wall-height)); 
	height: var(--wall-height);
	width: 100%;
  max-width: 2130px;
  margin: auto;
  object-fit: cover;
  z-index: 1;
}

.plant{
	--plant-offset-x: 0;
	--plant-offset-y: 0;
	
	z-index: 2;
	position: absolute;
	color: var(--text-light);
}
.plant--bottom{ bottom: var(--plant-offset-y); }
.plant--top{    top:    var(--plant-offset-y); }
.plant--right{  right:  var(--plant-offset-x); }
.plant--left{   left:   var(--plant-offset-x); }

.plant-sky{
	--plant-offset-x: -70px;
	--plant-offset-y: -35px;
	height: 33.3333vw;
	transform-origin: left top;
}
.plant-wall-right{
	--plant-offset-x: -30px;
	--plant-offset-y: -120px;
	height: 40vw;
	transform-origin: right bottom;
}
.plant-wall-left{
	--plant-offset-x: -65px;
	--plant-offset-y: -120px;
	height: 45vw;
	transform-origin: left bottom;
	transform: translate(-15%) rotate(20deg);
}
@media(min-width: 800px){
	.plant-wall-right{ height: 320px; }
	.plant-sky{        height: 266.67px; }
	.plant-wall-left{  height: 360px; }
}

/* Plant animations */
.plant-sky--animation{        animation: plant_sky        4.3s 0.1s ease-out, plant_sky-copy        0.1s steps(1); }
.plant-wall-right--animation{ animation: plant_wall_right 3.1s 0.8s ease-out, plant_wall_right-copy 0.8s steps(1); }
.plant-wall-left--animation{  animation: plant_wall_left  4s  0.25s ease-out, plant_wall_left-copy 0.25s steps(1); }

@keyframes plant_sky {
  0% {transform: translate(-88%,12%) rotate(45deg);}
  100% {transform: translate(0) rotate(0);}
}
@keyframes plant_wall_right {
	0% {transform: translate(150%,-10%) rotate(-75deg);}
	100% {transform: translate(0) rotate(0);}
}
@keyframes plant_wall_left {
	0% {transform: translate(-207%,-33%) rotate(120deg);}
	100% {transform: translate(-15%) rotate(20deg);}
}

/* The animation's copy is to fix a Safari and Edge bug, when tow animations have the same name */
@keyframes letter-fall-copy {
	0% {transform: translateX(-5%) rotate(0);}
	100% {transform: translateX(-5%) rotate(15deg);}
}
@keyframes plant_sky-copy {
  0% {transform: translate(-88%,12%) rotate(45deg);}
  100% {transform: translate(0) rotate(0);}
}
@keyframes plant_wall_right-copy {
	0% {transform: translate(150%,-10%) rotate(-75deg);}
	100% {transform: translate(0) rotate(0);}
}
@keyframes plant_wall_left-copy {
	0% {transform: translate(-207%,-33%) rotate(120deg);}
	100% {transform: translate(-15%) rotate(20deg);}
}

/* Buildings animation */
.buildings--animation{ animation: buildings-up 2s cubic-bezier(0.25, 0.46, 0.45, 0.94), fade-in 2s ease-in; }
.buildings__img--animation{ animation: 
	shake1 0.05s 0s cubic-bezier(0.45, 0.05, 0.55, 0.95) 20 alternate,
	shake2 0.05s 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) 10 alternate,
	shake3 0.05s 1.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) 5 alternate,
	shake3 0.05s 1.75s cubic-bezier(0.45, 0.05, 0.55, 0.95) 3.5 alternate
	;
}

@keyframes buildings-up {
	0% {transform: translateY(1em);}
	100% {transform: translateY(0);}
}
@keyframes shake1 {
	0% {transform: translateX(1.5px);}
	100% {transform: translateX(-1.5px);}
}
@keyframes shake2 {
	0% {transform: translateX(1px);}
	100% {transform: translateX(-1px);}
}
@keyframes shake3 {
	0% {transform: translateX(0.5px);}
	100% {transform: translateX(-0.5px);}
}
@keyframes shake4 {
	0% {transform: translateX(0.25px);}
	100% {transform: translateX(-0.25px);}
}

/* Grafittis */
.no-overflow{
	overflow: hidden;
}
.graffitis{
  position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
}
.graffiti{
	--size: 10vw;
	position: absolute;
	width: var(--size);
	min-width: 80px;
}
.graffiti--warning{
  --size: 18vw;
  top: -4%;
  right: 5%;
  z-index: 1;
  max-width: 110px;
  transform: rotate(5deg);
}
.graffiti--hackupc{
	--size: 20vw;
	top: 35%;
  left: calc(100% + 10px);
}
.graffiti--system{
	--size: 20vw;
	top: 20%;
	right: calc(100% + 10px);
}
.graffiti--fallout{
	--size: 16vw;
	bottom: 20%;
  right: calc(100% + 20px);
}

/* Section elements */
.section{
  padding: 16px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.section__title{
  color: var(--tertiary-dark);
}
.section__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section__video{
  max-width: calc(100vw - 32px);
  max-height: calc(calc(100vw - 32px) * 0.5625) ;
  width: 853.333333px;
  height: 480px;
  border-radius: 5px;
}

/* FAQ - Questions */
.section--faq{
  margin-top: 64px;
  position: relative;
}
.section__list--faq{
  margin: -8px
}
.question{
  flex: 1 1 250px;
  margin: 8px;
}
.question__title{
  font-weight: bold;
  font-size: 1.1em;
  color: var(--tertiary-dark);
  margin: 1em 0 0.5em;
}
.question__answer{
  text-align: left;
  line-height: 1.23;
}

/* More applications */
.section__list--participate{
	justify-content: space-around;
}
.button--sponsor, .button--volunteer, .button--mentor{
	background: var(--primary);
	flex-basis: 9em;
}
.button--sponsor::before, .button--volunteer::before, .button--mentor::before{
	background: var(--primary-dark);
}
.button--disabled{
  filter: saturate(0.15);
  cursor: not-allowed;
  /* pointer-events: none; */
}
.button--disabled:hover{ transform: none; }
.button--disabled:hover::before{ transform: translateY(0.625em); }
.button__tooltip{
	position: absolute;
	white-space: nowrap;
	top: -2.5em;
	line-height: 1;
	left: 50%;
	background: var(--gray-dark);
	transform: translate(-50%,2.625em);
	z-index: -3;
	border-radius: 5px;
	padding: .25em .5em;
	animation: 
		tooltip-in  .3s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s,
		tooltip-stay 1s linear .3s,
		tooltip-out .2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s;
}

@keyframes tooltip-in{
	0%{transform: translate(-50%, 2.625em);}
	100%{transform: translate(-50%, 0);}
}
@keyframes tooltip-out{
	0%{transform: translate(-50%, 0);}
	100%{transform: translate(-50%, 2.625em);}
}
@keyframes tooltip-stay{
	0%{transform: translate(-50%, 0);}
	100%{transform: translate(-50%, 0);}
}

/* Sponsors & Partners */
.section__list--sponsors, .section__list--partners{
	align-items: center;
	justify-content: center;
}
.sponsor:hover, .partner:hover{
	/* transform: scale( calc( calc( var(--size) + 25px) / var(--size) ) ); */
  transform: scale(1.25);
}
.sponsor, .partner{
	--aspect-ratio: 0.75;
	--size: 100px;
  margin: 0 25px;
	transition: transform .1s ease-out;
	width: var(--size);
	height: calc(var(--size) * var(--aspect-ratio));
	max-width: 100%;
	max-height: calc(100% * var(--aspect-ratio));
}
.sponsor__img, .partner__img{
  width: 100%;
	height: 100%;
	object-fit: contain;
}

.sponsor--tera{ --size: 250px; }
.sponsor--giga{ --size: 200px; }
.sponsor--kilo{ --size: 150px; }
.sponsor--mega, 
.partner--normal{ --size: 100px; margin: 0 12.5px; }
.sponsor--mili{ --size: 90px; }

/* scale = (--size + 25px ) / --size */
.sponsor--tera:hover{ transform: scale(1.1); }
.sponsor--giga:hover{ transform: scale(1.125); }
.sponsor--kilo:hover{ transform: scale(1.16667); }
.sponsor--mega:hover, 
.partner--normal:hover{ transform: scale(1.25); }
.partner--mili:hover{ transform: scale(1,2778); }

/* Footer section */
.section--footer{
  max-width: none;
  position: relative;
  color: var(--text-light);
  /* margin-top: 96px; */
  margin-top: 128px;
}
.footer__link{
  color: var(--secondary);
  text-decoration: none;
}
.footer__img{
  /* height: 250px; */
  height: 300px;
}
.no-overflow--footer{
  position: absolute;
  bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.footer_column{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
}
.section__list--packed{
  display: block;
}
.footer__element { margin: 1em auto; }
.footer__element--first{ margin-top: 0; }
.footer__element--last{ margin-bottom: 0; }

.footer_column__element{ margin: 0.5em; }

/* Legal */
.section__list--links-list{
  max-width: 500px;
  flex-wrap: nowrap;
  align-items: center;
}
.links-list{
  text-decoration: none;
  line-height: 1;
  vertical-align: middle;
}
.links-list__separator{
  opacity: 0.5;
}

/* Last year & Signature */
.last-year-site{
  display: block;
}

/* Contact */
.section__list--contact{
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 17.5em;
  flex-basis: 17.5em;
}
.contact{
  transition: transform 100ms ease-out;
  flex: 1;
}
.contact__link{
  width: 100%;
  display: block;
  line-height: 1;
}
.contact__icon{
  width: 1.5em;
  min-width: 20px;
  margin: auto;
}
.contact:hover{
  transform: scale(1.25);
}

/* Easter egg */
.easter-egg{display: none;}
.lenny-face{white-space: nowrap;}
.secret-link{color: inherit; text-decoration: inherit;}
/* TODO: add a rainbow glow */
/* .rainbow-glow{} */
