/*---COLORS---*/
$bgColor: #efeae4;
$lightBgColor: #e8c4c4;
$textColor: #494949;
$contrastColor:white;
$secondaryColor: #E91753;
$secondaryTextColor: white;
$headerSelectorColor: gray;
$overlayColor:rgba(0,0,0,0.4);
//Links
$highlightColor: darken($secondaryColor, 25%);
$mlhHardwareBtn: $highlightColor;

$fbColor:#3B5998;
$ytColor:#CC181E;
$twColor:#1DA1F2;

/*---PATHS---*/
$fontsDir: "../fonts";
$imgDir: "../img";


/*---MISC---*/
$fadeTime: 300ms;
$asideOpenTime: 300ms;
$timerAnimLength: 300ms;
$happenedOpacity: 0.5;
