#schedule{
	& > div{
		display:flex;
		flex-wrap:wrap;
		.table-container{
			color: white;
			flex: 1 1 0;
			margin: 0 20px;
			h1{
				margin-bottom:0;
			}
			table{
				width:100%;
				color:$contrastColor;
				border:thin solid $contrastColor;
				border-radius:6px;
				border-collapse: collapse;
				border-radius:5px;
				thead{
					color: black;
					background-color: $contrastColor;
				}

				td,th{
					padding:10px;
				}
				td{
					border:thin solid fade($contrastColor,30%);
					&:last-child{
						min-width:200px;
					}
					&:first-child{
						text-align: center;
						.location-icon{
							display:inline-block;
						}
					}
				}

			}
		}
	}
}