/* Shared classes: may be overwritten in other files */

/*Generic: incontextual classes*/
article{
	display:none !important;
	&.active{
		display:block !important;
	}
}
strong{
	color:$highlightColor;	
}
a{
	color: $highlightColor;
	text-decoration:none;
}

.padding-bottom{
	padding-bottom:100px;
}

.hidden{
	display:none !important;
}

.faded{
	opacity: 0;
	transition: opacity $fadeTime;
}
.veil::before{
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $overlayColor;
	z-index: 100;
	opacity:0;
	transition:opacity $fadeTime;
}

.veiled::before{
	opacity:1 !important;
	transition:opacity $fadeTime;
}
.centered{
	display:block;
	margin:0 auto;
}

.happened{
	opacity: $happenedOpacity;
}
.happening{
	font-weight: bold !important;
}

.prompt{
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 110;

	.box{
		color:$textColor;
		background-color:$bgColor;
		padding:20px;
		margin:20px;
		h1{
			margin:0;
			padding:0;
		}
		.buttons{
			display:flex;
			justify-content: flex-end;
			flex-wrap:wrap;
			div{
				flex:1 1 auto;
				padding:5px 10px;
				margin:20px;
				background-color:$highlightColor;
				cursor:pointer;
			}
		}
	}
}

@media (min-width:720px){
	.under-header{
		padding-top:150px;
	}

	.show-when-small{
		display:none !important;
	}
}

@media (max-width:720px){
	.under-header{
		padding-top:60px;
	}

	.hide-when-small{
		display:none !important;
	}
}


/*Specific*/
.events-fancy{	
	text-align: left;
	color: white;
	position: relative;
    overflow: hidden;

	&::before{
		box-shadow: 0px 189px 75px -60px $bgColor inset;
		position: absolute;
		width: 100%;
		height: 180px;
		content: ' ';
		z-index:10;
	}

	&::after{
		box-shadow:0px -135px 120px -60px $bgColor inset;
		position: absolute;
		width: 100%;
		height: 100px;
		bottom:0;
		content: ' ';
		z-index:10;
	}

	.hide-scroll-hack {
		position: absolute;
		width: 20px;
		height: 100%;
		background: $bgColor;
		right: 0;
		z-index:2;
	}

	ul{
		list-style:none;
		margin: 0;
		padding: 180px 20px 100px 15px;
		min-height: 200px;
		max-height: 100%;
		overflow: auto;
		li{
			display:flex;
			flex-wrap:wrap;
			flex-direction:column;
			position:relative;
			margin: 15px 0px 15px 0;
			min-height: 10px;
			padding: 0px 0px 0 20px;
			font-size: 28px;
			border-left: 3px solid $contrastColor;
			align-content:center;
			&:last-child{
				margin-bottom:400px;
			}
			h1{
				margin:0px;
				font-weight: normal;
			}
			& > div{
				display:flex;
			}
			&.happened{
				opacity:1;
				border-left: 2px solid fade($contrastColor, 25%);
			}
			&.happening::before{
				content: '>';
				color: $contrastColor;
				position: absolute;
				margin-top: -4px;
				left: -15px;
				font-size: 15px;
			}
			a{
				display:block;
			}
			.event{
				margin:5px 0;
				cursor:pointer;
				.event-hour{
					width:54px;
					display:flex;
					font-family: Orbitron;
					flex-direction:column;
					text-align:right;
					font-weight: bold;
					font-size: 15px;
					margin-top:3px;
					margin-right:10px;
					.end-hour{
						font-size: 12px;
					}
				}
				&.subscribed{
					.title:after{
						content:"\01F6A9";
						font-size: 13px;
						vertical-align: super;
						line-height: 0px;
					}
				}
				.title{
					position:relative;
					line-height:25px;
				}
				
			}
		}
	}
}

.location-icon{
	display:block;
	background-image: url('#{$imgDir}/marker.png');
	background-size: 15px 22px;
	width: 15px; 
	height: 22px;
	margin-right: 10px;
}

.countdown{
	position:relative;
	text-align: center;
	margin-top: 65px;
	font-family: Orbitron;
	z-index: 2;
	flex: 1 1 0;
	&.show-when-small{
		z-index: 30;
		position:absolute;
	}

	div{
		color:white;
		font-size:30px;
	}
	.countdown-time{
		justify-content:center;
		font-weight:bold;
		display:flex;
		span{
			&.big{
				font-size:54px;
				display: block;	
			}
			&.little{
				margin-top:7px;
				font-size:28px;
				min-width:100px;
			}
		}
	}
}

.container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	max-width:1024px;
	margin:0 auto;
	.panel{
		flex:1 1 350px;
		margin:20px;
		background-color:$contrastColor;
		color:$secondaryTextColor;
		overflow:hidden;
		text-align:left;
		position:relative;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		p, ul, ol {
			margin: 5px 15px 5px 15px;
		}
		
		&.large{
			flex:1 1 600px;
		}
		a{
			color:$bgColor;
		}
		h1{
			
			width: 100%;
			margin: 0 0 0 0;
			padding-top:3px;
			font-size:30px;
			color:white;
			background-color: $secondaryColor;
			text-align: center;
		}
		h2{
			margin:5px 15px;
		}
		.buttons{
			display: flex;
			border-radius: 3px;
			margin:5px;
			overflow:hidden;
			a{
				display:block;
				flex:1 1 0;
				color:$contrastColor;
				text-decoration:none;
				background-color:$secondaryColor;
				padding: 8px;
				text-align: center;
				font-weight:bold;
				&:not(:first-child){
					border-left:thin solid white;
				}
				&.fb{
					background-color:$fbColor;
				}
				&.yt{
					background-color:$ytColor;
				}
				&.tw{
					background-color:$twColor;
				}
			}
		}
		.label{
			display:inline;
		}

		.icon{
			display:inline-block;
			margin:0;
			padding:0 2px;
			text-align:center;
			border-radius:5px;
			width:30px;
			background-color: $bgColor;
			color:white;
			font-weight:normal;
		}

		& > div{
			margin:15px 15px;
			p, h1, h2, .buttons  {
				margin:0 0;
			}
		}

		span{
			display: inline-block;
			padding: 3px 6px;
			border-radius: 3px;
			background-color: $lightBgColor;
		}
	}
}