/* Shared classes: may be overwritten in other files */


@font-face {
    font-family: Gotham-Black;
    src: url(../fonts/GothamBlack.ttf);
}

@font-face {
    font-family: Gotham-Bold;
    src: url(../fonts/GothamBold.ttf);
}

@font-face {
    font-family: Gotham-Medium;
    src: url(../fonts/GothamMedium.ttf);
}

@font-face {
    font-family: Gotham-Light;
    src: url(../fonts/GothamLight.ttf);
}

@font-face {
    font-family: Gotham-Thin;
    src: url(../fonts/GothamThin.ttf);
}

@font-face {
    font-family: ProximaNovaBlack;
    src: url(../fonts/ProximaNovaBlack.ttf);
}

@font-face {
    font-family: ProximaNovaBold;
    src: url(../fonts/ProximaNovaBold.ttf);
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url(../fonts/ProximaNovaSemibold.ttf);
}

@font-face {
    font-family: ProximaNovaRegular;
    src: url(../fonts/ProximaNovaRegular.ttf);
}

@font-face {
    font-family: ProximaNovaThin;
    src: url(../fonts/ProximaNovaThin.ttf);
}

/*Generic: incontextual classes*/
article{
	display:none !important;
	&.active{
		display:block !important;
	}
}
strong{
	color:$highlightColor;
}
a{
	color: $highlightColor;
	text-decoration:none;
}

.padding-bottom{
	padding-bottom: 50px;
}

.hidden{
	display:none !important;
}

.faded{
	opacity: 0;
	transition: opacity $fadeTime;
}
.veil::before{
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $overlayColor;
	z-index: 100;
	opacity:0;
	transition:opacity $fadeTime;
}

.veiled::before{
	opacity:1 !important;
	transition:opacity $fadeTime;
}
.centered{
	display:block;
	margin:0 auto;
}

.happened{
	opacity: $happenedOpacity;
}
.happening{
	font-weight: bold !important;
}

.prompt{
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 110;

	.box{
		color:$textColor;
		background-color:$bgColor;
		padding:20px;
		margin:20px;
		h1{
			margin:0;
			padding:0;
		}
		.buttons{
			display:flex;
			justify-content: flex-end;
			flex-wrap:wrap;
			div{
				flex:1 1 auto;
				padding:5px 10px;
				margin:20px;
				color:$contrastColor;
				background-color:$buttonColor;
				cursor:pointer;
			}
		}
	}
}

@media (min-width:720px){
	.under-header{
		padding-top:150px;
	}

	.show-when-small{
		display:none !important;
	}
}

@media (max-width:720px){
	.under-header{
		padding-top:60px;
	}

	.hide-when-small{
		display:none !important;
	}

	.events-fancy::before{
		box-shadow: 0px 189px 75px -60px  rgba($secondaryColor, 0.7) inset !important;
	}
}


/*Specific*/
.events-fancy{
	text-align: left;
	color: white;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;

	&::before{
		box-shadow:0px 300px 100px -200px #2c3033 inset;
		position: fixed;
		width: 100%;
		height: 250px;
		content: ' ';
		z-index:10;
		pointer-events: none;
	}

	&::after{
		box-shadow:0px -250px 100px -200px #2c3033 inset;
		position: fixed;
		width: 100%;
		height: 200px;
		bottom:0;
		content: ' ';
		z-index:10;
		pointer-events: none;
	}

	/*.hide-scroll-hack {
		position: absolute;
		width: 20px;
		height: 100%;
		background: $bgColor;
		right: 0;
		z-index:2;
	}*/

	ul{
		list-style:none;
		margin: 0;
		padding: 10%;
		min-height: 200px;
		max-height: 100%;
		width: 100%;
		height: 75%;
		overflow-y: scroll;
		padding-right: 17px;
		box-sizing: content-box;
		li{
			display:flex;
			flex-wrap:wrap;
			flex-direction:column;
			position:relative;
			margin: 15px 0px 15px 0;
			min-height: 10px;
			padding: 0px 0px 0 15px;
			font-size: 28px;
			border-left: 3px solid $secondaryTextColor;
			color: $secondaryTextColor;
			align-content: flex-start;
			/*&:last-child{
				margin-bottom:400px;
			}*/
			h1{
				margin:0px;
				font-weight: normal;
			}
			& > div{
				display:flex;
			}
			&.happened{
				opacity:1;
				border-left: 2px solid fade($secondaryTextColor, 25%);
			}
			&.happening::before{
				content: '\f061';
				font: normal normal normal 14px/1 FontAwesome;
				color: $secondaryTextColor;
				position: absolute;
				margin-top: -7.5px;
				left: -35px;
				font-size: 25px;
			}
			a{
				display:block;
				margin-right:10px;
				&:before{
					font-family: FontAwesome;
					content: '\f041';
				}
				color:$secondaryColor;
			}
			.event{
				margin:5px 0;
				cursor:pointer;
				.event-hour{
					width:54px;
					display:flex;
					font-family: Gotham-Medium;
					flex-direction:column;
					text-align:right;
					font-weight: bold;
					font-size: 15px;
					margin-top:3px;
					margin-right:10px;
					.end-hour{
						font-size: 12px;
					}
				}
				&.subscribed{
					.title:after{
						font-family:FontAwesome;
						content:"\f024";
						font-size: 13px;
						vertical-align: super;
						line-height: 0px;
					}
				}
				.title{
					position:relative;
					line-height:25px;
				}

			}
		}
	}
}

.countdown{
	position: fixed;
	text-align: center;
	margin-top: 65px;
	font-family: 'Gotham-Regular';
	z-index: 2;
	flex: 1 1 0;
	&.show-when-small{
		z-index: 30;
		position: fixed;
		pointer-events: none;
	}

	div{
		color:white;
		font-size:30px;
	}
	.countdown-time{
		justify-content:center;
		font-weight:bold;
		display:flex;
		span{
			&.big{
				font-size:54px;
				display: block;
			}
			&.little{
				margin-top:7px;
				font-size:18px;
				min-width:50px;
				text-align: right;
			}
		}
		div.decimals{
			width: 50px;
			height: 20px;
			display: inline;
			background-size: cover;
			margin-top: 7px;
			&.run{
				background-image: url('#{$imgDir}/count_decimals_run_White.gif');
			}
			&.stop{
				background-image: url('#{$imgDir}/count_decimals_stop_White.png');
			}
		}
	}
}

.container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	max-width:1024px;
	margin:0 auto;
	.panel{
		flex:1 1 350px;
		margin:20px;
		background-color:$contrastColor;
		color:$textColor;
		overflow:hidden;
		text-align:left;
		position:relative;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		p, ul, ol {
			margin: 5px 15px 5px 15px;
		}

		&.large{
			flex:1 1 600px;
		}
		a{
			color:$secondaryColor;
		}
		h1{

			width: 100%;
			margin: 0 0 0 0;
			padding-top:3px;
			font-size:20px;
			color:white;
			background-color: $secondaryColor;
			text-align: center;
			padding: 5px 0;
		}
		h2{
			margin:5px 15px;
		}
		.panel-info{
			h3{
				font-weight: normal;
				font-family: 'ProximaNovaSemibold', sans-serif;
			}
		}
		.margin-bottom{
			margin-bottom: 10px;
		}
		.text-centered{
			text-align: center;
		}
		.text-normal{
			font-weight: normal;
		}
		.no-indent {
			padding-left: 0;
		}
		.buttons{
			display: flex;
			border-radius: 3px;
			overflow:hidden;
			a{
				display:block;
				flex:1 1 0;
				color:$contrastColor;
				text-decoration:none;
				background-color:$buttonColor;
				padding: 8px;
				text-align: center;
				font-weight:bold;
				&:not(:first-child){
					border-left:thin solid white;
				}
				&.fb{
					background-color:$fbColor;
				}
				&.yt{
					background-color:$ytColor;
				}
				&.tw{
					background-color:$twColor;
				}
				&.ig{
					background-color:$igColor;
				}
				&.gt{
					background-color:$gtColor;
				}
				&.me{
					background-color:$meColor;
				}
			}
		}
		.label{
			display:inline;
		}

		.icon{
			display:inline-block;
			margin:0;
			padding: 3px;
			text-align:center;
			border-radius:5px;
			width:30px;
			background-color: $buttonColor;
			color:white;
			font-weight:normal;
		}

		& > div{
			margin:15px 15px;
			p, h1, h2 {
				margin: 0 0;
			}
		}

		span{
			display: inline-block;
			padding: 3px 6px;
			border-radius: 3px;
			background-color: $lightBgColor;
		}

		.get-there{
			.get-title {

			}
			.get-subtitle {
				margin-top: 0px;
				margin-bottom: 10px;
			}
			p{
				margin-bottom: 5px;
			}
			h2{
				margin-bottom: 15px;
			}
			.get-separator{
				margin-top: 15px;
				border-top: 1px solid #49494933;
				padding-bottom: 25px;
			}
			.get-accessible{
				margin-top: 20px;
			}
		}
	}
}
