/* The porpouse of this file is to contain the 
 * working changes to speed up the compilation 
 * process done by npm run watch.
 * You should see it empty in production.
 */

 .footer__img{
  /* width: 100%;
  min-width: 1000px; */
  height: 250px;
}
.no-overflow--footer{
  position: absolute;
  bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
}
