/* The porpouse of this file is to contain the 
 * working changes to speed up the compilation 
 * process done by npm run watch.
 * You should see it empty in production.
 */

.gradient{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.gradient--sky{
	background: linear-gradient(to bottom, 
	#A6BA86 2.5%,
	#E3C677 20%,
	#000000 100%);
}
.gradient--depths{
	background: linear-gradient(to bottom, 
	#0000 40%,
	#000 80%);
}
.city{
  display: flex;
	justify-content: center;
	align-items: flex-start;
	position: absolute;
  top: 5%; right: 0; left: 0;
}
.city__builing{
	width: 6em;
	margin: 0 0.5em;
}
.city__builing--small { width: 4em; margin-top: 6em; }
.city__builing--medium{ width: 5em; margin-top: 2em;}
.city__builing--big   { width: 7em; }
.city__builing--short { width: 6em; }
