//body {
//	overflow: hidden;
//	cursor: pointer;
//}
#background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	margin-top: -100px;
	&:after{
		position:fixed;
		top:0;
		content:" ";
		width: 1351px;
		height: 2251px;
		background-image: url("../img/street-mask.png");
 		background-size: cover;
 		background-position: 50% 46%;
	}
}

h1, h2 {
	text-align: center;
	color: #494949;
}

.tiles-row {
	display: flex;
	height: 62px;
	margin-left:-45px;
}

.tiles-row:nth-child(even) {
	margin-left: 22px;
}

.tile {
	/*SAME AS TILE_WIDTH*/
	flex: 0 0 90px;
	height: 90px;
	margin-right: 32px;
	margin-top: 55px;
	transform: rotate(-45deg);
	background-color: #DBDBDB;
	transition: background-color 2500ms;
}

.tile.yellow {
	background-color: #FCCE21;
	transition: background-color 2500ms;
}

.tile.red {
	background-color: #E43653;
	transition: background-color 2500ms;
}

.tile.green {
	background-color: #B7E24B;
	transition: background-color 2500ms;
}

.tile.orange {
	background-color: #ED8630;
	transition: background-color 2500ms;
}

.tile img {
	width: 100%;
}
