//body {
//	overflow: hidden;
//	cursor: pointer;
//}
#background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	margin-top: -100px;
	&:after{
		position:fixed;
		background-attachment:fixed;
		top:0;
		content:" ";
		width: 100%;
		height: 100%;
		background-image: url("../img/street-mask.png");
 		background-size: 1347px 2251px;
 		background-position:0px 0px;
	}
}


h1, h2 {
	text-align: center;
	color: #494949;
}

.tiles-row {
	display: flex;
	height: 62px;
	margin-left:-45px;
}

.tiles-row:nth-child(even) {
	margin-left: 22px;
}

.tile {
	/*SAME AS TILE_WIDTH*/
	flex: 0 0 90px;
	height: 90px;
	margin-right: 32px;
	margin-top: 55px;
	transform: rotate(-45deg);
	background-color: #efeae4;
	transition: background-color 2500ms;
	&.yellow {
		background-color: #f3ac73;
	}

	&.red {
		background-color: #e8546d;
	}

	&.orange{
		background-color: #FCCE21;
	}

	&.green {
		background-color: #B7E24B;

	}
}