#fullscreen {
	position: relative;
	height: 100%;

	& > div {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.events-fancy {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		position: fixed;
		ul {
			max-height: 100%;
			width: 100%;
			height: 100%;
			margin-left: 40%;
			li {
				font-size: 1.5em;
				margin-right: 60%;
			}
		}
	}
}

#countdown-full {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 50%;
	max-width: 550px;
	position: relative;
	margin-right: 50%;
	z-index: 50;

	.bg {
		position: absolute;
		width: 100%;
		left: 0;
	}

	.countdown {
		margin-top: 0;
	}

	.countdown-time {
		.decimals {
			margin-top: 0;
			width: 40px;
			height: 15px;
		}
	}
}
