body, html, main { height: 100%; }
body, html {
	padding: 0;
	margin: 0;
	background-image: url("/assets/img/live/background.png");
	background-position: center center;
	background-attachment: fixed;
	background-repeat: repeat repeat;
	font-family: 'Montserrat', sans-serif;
	transition: opacity $fadeTime;
	-webkit-tap-highlight-color: $tapColor;
}

main { transition: opacity $fadeTime; }

#background {
	position: absolute;
	height: 100%;
	/* woah, hax (centering a child larger than parent) */
	left: 50%;
	transform: translate(-50%, 0);
}

#header-nav-bar {
	position: fixed;
	width: 100%;
	z-index: 50;
	ul {
		display: flex;
		flex-direction: row;
		padding: 0;
		margin: 0;
		list-style: none;
		justify-content: center;
		box-shadow: 0 3px 0 rgba(30, 30, 30, 0.2);
		li {
			flex: 1 1 0;
			border-left: thin solid rgba(30, 30, 30, 0.2);
			text-align: center;
			background: white;
			a {
				display: block;
				padding: 10px 0;
				color: $textColor;
				text-decoration: none;
			}

			&:first-child { border-left: none; }

			&.selected {
				box-shadow: 0 3px 0 rgba(30, 30, 30, 0.5);
				cursor: default;
			}

			&#countdown-li {
				flex: 0 0 215px;
				position: relative;
				padding: 0;

				.countdown {
					margin-top: -90px;
					padding: 90px 0 55px;
				}
				.countdown:hover { transform: translateY(-5px); }
			}
		}
	}
}

#header-small {
	position: fixed;
	width: 100%;
	z-index: 99;

	.bar {
		position: relative;
		height: 50px;
		background-color: $contrastColor;
		color: $secondaryTextColor;
		border-bottom: thin solid rgba(125, 125, 125, 0.3);
		box-shadow: 0 0 10px 0 rgba(125, 125, 125, 0.6);

		.title-container {
			display: flex;
			align-items: center;
			text-align: center;
			height: 100%;
			h1 {
				flex: 1 1 0;
				margin: 0;
				padding: 0;
			}
		}
		#open-aside-btn {
			display: flex;
			position: absolute;
			font-size: 20px;
			color: black;
			align-items: center;
			width: 50px;
			height: 100%;
			text-align: center;
			cursor: pointer;
			/* stylelint-disable */
			span { flex: 1 1 0; }
			/* stylelint-enable */
		}
	}
}

#aside-small-menu {
	height: 100%;
	position: fixed;
	background-color: $bgColor;
	width: 200px;
	box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.6);
	z-index: 150;
	overflow: auto; /* just in case */
	left: 0;
	transition: left $asideOpenTime;
	&.closed { left: -210px; }

	#close-aside-btn {
		display: flex;
		align-items: center;
		text-align: center;
		height: 50px;
		width: 50px;
		cursor: pointer;
		/* stylelint-disable */
		div {
			/* stylelint-enable */
			flex: 1 1 0;
			font-size: 25px;
		}
	}

	div.logo {
		margin-top: 20px;
		text-align: center;
		/* stylelint-disable */
		img { width: 90%; }
		/* stylelint-enable */
	}
	nav {
		margin-top: 10px;
		background-color: darken($bgColor, 5%);
		ul {
			list-style: none;
			padding: 0;
			/* stylelint-disable */
			li {
				/* stylelint-enable */
				border-top: thin solid rgba(255, 255, 255, 0.3);
				&.selected {
					font-weight: bold;
					background-color: darken($bgColor, 15%);
				}
				a {
					display: block;
					padding: 10px 20px;
					color: $textColor;
					text-decoration: none;
				}
			}
		}
	}
}
