#map {
	height: 100vh;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.4);
	overflow: auto hidden;
	position: relative;

	.floors {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		font-weight: 900;
		font-size: 5vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 14.5vh 0.5vh 12vh 0.5vh;
		background-color: #fff;
		color: #333;
		border-right: 2px solid #ddd;

		span {
			text-align: center;
		}
	}

	@media (min-width: 720px) {
		.floors { display: none; }
		img { height: unset; width: 100%; }
	}

	img {
		height: calc(100% - 32px);
	}

	.map-button-container {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 1;

		p {
			margin-bottom: 8px;
		}

		a {
			padding: 8px 24px;
			margin-bottom: 16px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
			background: #60733f;
			color: #fff;
			border-radius: 3px;
			display: inline-block;
			cursor: pointer;
			font-weight: bold;

			&.disabled {
				pointer-events: none;
				filter: grayscale(0.5);
				opacity: 0.4;
			}
		}
	}
}
