#map {
	height: 100vh;
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.4);
	overflow: auto hidden;
	position: relative;

	.floors {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		font-weight: 900;
		font-size: 5vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 14.5vh 0.5vh 8vh 0.5vh;
		background-color: #fff;
		color: #333;
		border-right: 2px solid #ddd;

		span {
			text-align: center;
		}
	}

	@media (min-width: 720px) {
		.floors { display: none; }
		img { height: unset; width: 100%; }
	}

	img {
		height: 100%;
	}
}
