/* --- COLORS --- */
$bgColor: #f4f4f4;
$lightBgColor: #e5f2ae;
$textColor: #494949;
$contrastColor: #fff;
$secondaryColor: #e87a54;
$buttonColor: #b4c959;
$secondaryTextColor: #222;
$headerSelectorColor: gray;
$overlayColor: rgba(0, 0, 0, 0.4);
$tapColor: rgba(180, 201, 89, 0.4);
//Links
// $highlightColor: darken($secondaryColor, 25%);
$highlightColor: #9e5235;
$mlhHardwareBtn: $highlightColor;

// $fbcolor: #3b5998;
// $ytcolor: #cc181e;
// $twcolor: #1da1f2;
// $igcolor: #c32aa3;
// $gtcolor: #333;
// $mecolor: #02b875;

/* --- PATHS --- */
$fontsDir: "../fonts";
$imgDir: "../img/live";

/* --- MISC --- */
$fadeTime: 300ms;
$asideOpenTime: 300ms;
$timerAnimLength: 300ms;
$happenedOpacity: 0.5;

$borderRadius: 3px;
