#schedule {
	& > div {
		display: flex;
		flex-wrap: wrap;

		div { max-width: 100%; }
		.table-container {
			color: $secondaryColor;
			flex: 1 1 0;
			margin-bottom: 50px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			h1 {
				border-radius: $borderRadius $borderRadius 0 0;
				text-align: center;
				margin: 0;
				padding: 10px;
				background-color: #60733f;
				color: #fff;
				// border-bottom: 1px solid #fff3;
			}
			.table-scroll { overflow: auto; }
			table {
				width: 100%;
				color: $textColor;
				border-collapse: collapse;
				background-color: $contrastColor;
				border-radius: 0 0 $borderRadius $borderRadius;

				thead {
					color: $contrastColor;
					background-color: #60733f;
				}

				td,th {
					padding: 10px;
					text-align: left;
				}
				td {
					border: thin solid fade($secondaryColor, 20%);
					&:last-child { min-width: 200px; }
					&:first-child {
						text-align: center;
						.location-icon { display: inline-block; }
					}
					a { color: $secondaryColor; }
				}
			}
		}
	}
}
