/* Shared classes: may be overwritten in other files */

/* Generic: incontextual classes */
article {
	display: none !important;
	&.active { display: block !important; }
}
strong { color: $highlightColor; }
a {
	color: $highlightColor;
	text-decoration: none;
}

.padding-bottom { padding-bottom: 50px; }

.hidden { display: none !important; }

.faded {
	opacity: 0;
	transition: opacity $fadeTime;
}
.veil::before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: $overlayColor;
	z-index: 100;
	opacity: 0;
	transition: opacity $fadeTime;
}

.veiled::before {
	opacity: 1 !important;
	transition: opacity $fadeTime;
}
.centered {
	display: block;
	margin: 0 auto;
}

.happened { opacity: $happenedOpacity; }
.happening { font-weight: bold !important; }

.prompt {
	position: fixed;
	display: flex;
	top: 0; bottom: 0;
	left: 0; right: 0;
	justify-content: center;
	align-items: center;
	z-index: 110;
	backdrop-filter: blur(10px);

	.box {
		color: $textColor;
		background-color: $bgColor;
		padding: 20px;
		margin: 20px;
		max-width: 575px;
		border-radius: 5px;
		box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
		h1 {
			margin: 0;
			padding: 0;
		}
		p { margin: 16px 0; }
		.buttons {
			display: flex;
			justify-content: flex-end;
			div {
				padding: 5px 10px;
				color: $contrastColor;
				background-color: $buttonColor;
				cursor: pointer;
				border-radius: 5px;
				margin-left: 16px;
				font-weight: bold;
				letter-spacing: 1px;
			}
			#promptCancel {
				background-color: #ddd;
				color: #666;
				font-weight: normal;
				letter-spacing: 0;
			}
		}
	}
}

@media (min-width: 720px) {
	.under-header { padding-top: 150px; }

	.show-when-small { display: none !important; }
}

@media (max-width: 720px) {
	.under-header { padding-top: 60px; }

	.hide-when-small { display: none !important; }

	.events-fancy {
		ul { padding-left: 25px !important; }
		/*
		&::before { box-shadow: 0 1000px 50px -855px #9f3e56 inset !important;}
		*/
	}
}

/* Specific */
.events-fancy {
	text-align: left;
	color: white;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;

	&::before {
		box-shadow: 0 325px 100px -200px #f4f4f4 inset;
		position: fixed;
		width: 100%;
		height: 250px;
		content: ' ';
		z-index: 10;
		pointer-events: none;
	}

	&::after {
		box-shadow: 0 -250px 100px -200px #f4f4f4 inset;
		position: fixed;
		width: 100%;
		height: 200px;
		bottom: 0;
		content: ' ';
		z-index: 10;
		pointer-events: none;
	}

	/* .hide-scroll-hack  {
		position: absolute;
		width: 20px;
		height: 100%;
		background: $bgColor;
		right: 0;
		z-index: 2;
	}
	*/

	ul {
		list-style: none;
		margin: 0;
		min-height: 200px;
		max-height: 100%;
		overflow-y: scroll;
		padding-top: 200px;
		padding-left: 100px;
		box-sizing: content-box;
		li {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			position: relative;
			margin: 15px 0 15px 0;
			min-height: 10px;
			padding: 0 0 0 15px;
			font-size: 28px;
			border-left: 3px solid $secondaryTextColor;
			color: $secondaryTextColor;
			align-content: flex-start;
			&:last-child { margin-bottom: 400px; }
			/* stylelint-disable */
			h1 { margin: 0; font-weight: normal; }
			& > div { display: flex; }
			/* stylelint-enable */
			&.happened {
				opacity: 1;
				border-left: 2px solid fade($secondaryTextColor, 25%);
			}
			&.happening::before {
				content: '\f061';
				font: normal normal normal 14px/1 FontAwesome, sans-serif;
				color: $secondaryTextColor;
				position: absolute;
				margin-top: -7.5px;
				left: -35px;
				font-size: 25px;
			}
			a {
				display: block;
				margin-right: 10px;
				color: $secondaryColor;
				&::before {
					font-family: FontAwesome, sans-serif;
					content: '\f041';
				}
			}
			.event {
				margin: 5px 0;
				cursor: pointer;
				.event-hour {
					width: 54px;
					display: flex;
					font-family: 'Montserrat', sans-serif;
					flex-direction: column;
					text-align: right;
					font-weight: bold;
					font-size: 15px;
					margin-top: 3px;
					margin-right: 10px;
					.end-hour { font-size: 12px; }
				}
				&.subscribed {
					.title::after {
						font-family: FontAwesome, sans-serif;
						content: "\f024";
						font-size: 13px;
						vertical-align: super;
						line-height: 0;
					}
				}
				.title {
					position: relative;
					line-height: 25px;
				}
			}
		}
	}
}

.countdown {
	position: fixed;
	text-align: center;
	margin-top: 65px;
	font-family: 'Ubuntu Mono', monospace;
	z-index: 2;
	flex: 1 1 0;
	&.show-when-small {
		z-index: 30;
		position: fixed;
		pointer-events: none;
	}
	/* stylelint-disable */
	div {
		/* stylelint-enable */
		color: white;
		font-size: 30px;
	}
	.countdown-time {
		justify-content: center;
		font-weight: bold;
		display: flex;
		color: $secondaryTextColor;
		span {
			&.big {
				font-size: 54px;
				display: block;
			}
			&.little {
				margin-top: 0.2em;
				margin-left: 0.2em;
			}
		}
		div.decimals {
			width: 50px;
			height: 20px;
			display: inline;
			background-size: cover;
			margin-top: 7px;
			&.run { background-image: url('# {$imgDir}/count_decimals_run_White.gif'); }
			&.stop { background-image: url('# {$imgDir}/count_decimals_stop_White.png'); }
		}
	}
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1024px;
	margin: 0 auto;
	padding: 16px;
	.panel {
		border-radius: $borderRadius;
		flex: 1 1 350px;
		margin: 16px;
		background-color: $contrastColor;
		color: $textColor;
		overflow: hidden;
		text-align: left;
		position: relative;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		p, ul, ol { margin: 5px 15px 5px 15px; }

		ul { list-style-type: disc; }
		ol { list-style-type: decimal; }
		ul, ol { padding-left: 8px; }
		/* stylelint-disable */
		li { list-style: inherit; display: list-item; }
		/* stylelint-enable */

		&.large { flex: 1 1 782px; }
		a { color: $secondaryColor; }
		h1 {
			width: 100%;
			margin: 0 0 0 0;
			font-size: 20px;
			color: white;
			background-color: $secondaryColor;
			text-align: center;
			padding: 5px 0;
			padding-top: 3px;
		}
		h2 { margin: 5px 15px; }
		.panel-info {
			h3 {
				font-weight: normal;
				font-family: 'Montserrat', sans-serif;
			}
		}
		.margin-bottom { margin-bottom: 10px; }
		.text-centered { text-align: center; }
		.text-normal { font-weight: normal; }
		.no-indent { padding-left: 0; }
		.buttons {
			display: flex;
			border-radius: 3px;
			overflow: hidden;
			a {
				display: block;
				flex: 1 1 0;
				color: $textColor;
				text-decoration: none;
				background-color: $lightBgColor;
				padding: 8px;
				text-align: center;
				font-weight: bold;
				&:not(:first-child) { border-left: thin solid white; }
				// &.fb { background-color: $fbColor; }
				// &.yt { background-color: $ytColor; }
				// &.tw { background-color: $twColor; }
				// &.ig { background-color: $igColor; }
				// &.gt { background-color: $gtColor; }
				// &.me { background-color: $meColor; }
			}
		}
		.label { display: inline; }

		.icon {
			display: inline-block;
			margin: 0;
			padding: 3px;
			text-align: center;
			border-radius: 5px;
			width: 30px;
			background-color: $buttonColor;
			color: white;
			font-weight: normal;
		}

		/* stylelint-disable */
		& > div {
			/* stylelint-enable */
			margin: 15px 15px;
			p, h1, h2 { margin: 0 0; }
		}

		span {
			display: inline-block;
			padding: 3px 6px;
			border-radius: 3px;
			background-color: $lightBgColor;

			/* stylelint-disable */
			a {
				/* stylelint-enable */
				color: $textColor;
			}
		}

		.get-there {
			.get-title  {}
			.get-subtitle {
				margin-top: 0;
				margin-bottom: 10px;
			}
			p { margin-bottom: 5px; }
			h2 { margin-bottom: 15px; }
			.get-separator {
				margin-top: 15px;
				border-top: 1px solid #49494933;
				padding-bottom: 25px;
			}
			.get-accessible { margin-top: 20px; }
		}
	}

	.no-margin {
		/* stylelint-disable */
		div {
			/* stylelint-enable */
			margin: 0;
		}
	}
}
