.logo__image {
  &--mckinsey {
    padding: 1.6em 0.4em;
  }

  &--ithinkupc {
    padding: 2.6em 0.4em 2.6em 0.6em;
  }

  &--google {
    padding: 1.7em 0.4em;
  }

  &--skyscanner {
    padding: 1.2em 0.4em;
  }

  &--facebook {
    padding: 2.7em 0.4em;
  }

  &--vueling {
    padding: 2.1em 0.4em;
  }

  &--github {
    padding: 2.5em 0.4em;
  }

  &--upc {
    padding: 1.25em 0.4em;
  }

  &--upc-50 {
    padding: 0.9em 0.4em;
  }

  &--fib {
    padding: 2.5em 0.4em;
  }

  &--telecos {
    padding: 1.5em 0.4em;
  }

  &--cfis {
    padding: 1.5em 0.4em;
  }

  &--coeinf {
    padding: 0.75em 0.4em;
  }

  &--ajuntament_de_barcelona {
    padding: 2.25em 0.4em;
  }
}
