.logo__image {
  &--mundimoto {
    padding: 0 0.4em;
  }

  &--mckinsey {
    padding: 1.6em;
  }

  &--ithinkupc {
    padding: 2.7em 0.4em 2.7em 0.8em;
  }

  &--happyscribe {
    padding: 2.65em 0.4em;
  }

  &--floorfy {
    padding: 3em 0.4em;
  }

  &--typeform {
    padding: 2.7em 0.4em;
  }

  &--infojobs {
    padding: 2.3em 0.4em;
  }

  &--thoughtworks {
    padding: 3em 0.4em;
  }

  &--google {
    padding: 1.7em 0.4em;
  }

  &--skyscanner {
    padding: 1.2em 0.4em;
  }

  &--facebook {
    padding: 2.7em 0.4em;
  }

  &--vueling {
    padding: 2.1em 0.4em;
  }

  &--github {
    padding: 2.5em 0.4em;
  }

  &--upc {
    padding: 1.25em 0.4em;
  }

  &--upc-50 {
    padding: 0.9em 0.4em;
  }

  &--fib {
    padding: 2.5em 0.4em;
  }

  &--telecos {
    padding: 1.5em 0.4em;
  }

  &--cfis {
    padding: 1.5em 0.4em;
  }

  &--coeinf {
    padding: 0.75em 0.4em;
  }

  &--ajuntament_de_barcelona {
    padding: 2.25em 0.4em;
  }
}
