$fade-height: 5rem;

.hero-bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  &__fade {
    height: $fade-height;
    z-index: 1;
    pointer-events: none;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';

    background: linear-gradient(to top, $c-bg-dark, $ease-quad, transparent);
  }
}

.section--hero {
  overflow: hidden;
  max-width: unset;
  height: 900px;
  max-height: calc(100vh - 8rem);
  box-sizing: border-box;
  padding-bottom: $fade-height;
  background-color: $c-bg-dark;
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.title {
  color: #fff;
  margin: 0;
  font-size: clamp(4rem, 15vw, 6rem);
  font-weight: 400;
  text-shadow: 0 0 0.75rem $c-hero-shadow;
}

.apply-button {
  margin-top: 2rem;
}
